<!--
  Generated template for the ChallengePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><span class="slogan">MooExams</span><span class="titre">{{ 'CHALLENGES' | translate }}</span></ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="goProfile()" icon-only ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="!showFilter"  color="white" >
    <ion-buttons end>
      <button (click)="setFilter()" color="oranged" ion-button outline> {{ 'FILTER' | translate }}</button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar padding *ngIf="showFilter" class="bar-search" color="#808080">
    <ion-row>
      <ion-col col-10>
        <span *ngIf="!testRadioResult">{{ 'FORUM_FILTER_MESSAGE' | translate }}</span>
        <span *ngIf="testRadioResult">{{testRadioResult}}</span>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear (click)="radioList()">
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <hr>
    <ion-searchbar [showCancelButton]="false" [(ngModel)]="pattern" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

    <button (click)="hideFilter()" color="oranged" ion-button outline> {{ 'FILTER' | translate }}</button>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="getChallenges($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-grid *ngFor="let challeng of challenges;let i=index">
    <ion-row nowrap [ngStyle]="{background:backgroundColors[(i%4)+1]}" class="cha-item" (click)="showDetail(i)" nowrap>
      <ion-col col-3 col-md-3>
        <img src="{{challeng.image?url+challeng.image:'assets/img/emoji.png'}}">
      </ion-col>
      <ion-col col-6 col-md-5 >
        <h1>{{challeng.titre}}</h1>
        <h3>{{matieres[challeng.id].NOM_MATIERE}}</h3>
        <h5>{{ 'BEGINING' | translate }} : {{formatDate(challeng.date_debut)}}</h5>
        <h5>{{ 'END' | translate }} : {{formatDate(challeng.date_fin)}}</h5>
      </ion-col>
      <ion-col col-3 col-md-4>
        <ion-icon name="people"></ion-icon>
        <span id="nombre">{{participants.length||0}}</span>
        <span>{{ 'PARTICIPANTS' | translate }}</span>
      </ion-col>
    </ion-row>
    <div *ngIf="showDetailChallenge[challenges.indexOf(challeng)]" [ngStyle]="{background:backgroundColors[0]}" padding >
      <ion-row class="cha-class" nowrap>
        <ion-col col-6 >
          {{ 'CLASSE' | translate }} :
          <span *ngIf="criteres_classe[challeng.id]&&criteres_classe[challeng.id].length>0&&criteres_classe[challeng.id][0].NOM_CLASSE">{{criteres_classe[challeng.id][0].NOM_CLASSE}} </span>
          <span *ngIf="criteres_classe[challeng.id]&&criteres_classe[challeng.id].length>0&&criteres_classe[challeng.id][0].OPTION_CLASSE">{{criteres_classe[challeng.id][0].OPTION_CLASSE}}</span>
        </ion-col>
        <ion-col offset-1 col-5>
          {{ 'QUESTIONS' | translate }} : {{challeng.nbreQuestionMax}}
        </ion-col>
      </ion-row>
      <ion-row class="cha-description">
        <ion-col col-12>
          <p text-wrap text-justify>
          {{challeng.description}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row nowrap class="cha-button">
       <ion-col  (click)="answerChallenge(challeng)"> {{ 'CHALLENGE_PARTICIPATE' | translate }} </ion-col>
        <ion-col  (click)="participantsChallenge(challeng,participants[challeng.id],users[challeng.id],matieres[challeng.id],classe,schools[challeng.id])"> {{ 'PARTICIPANTS' | translate }} </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-list *ngIf="serveurReponse&&challenges&&challenges.length==0" padding-top>
    <ion-item text-wrap>
        <p text-center>{{ 'CHALLENGE_EMPTY_MESSAGE' | translate }}</p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="cha-footer">
  <button ion-button color="white"  clear (click)="addChallenge()" full text-uppercase>
    <ion-icon name="create"></ion-icon>
    {{ 'CREATE_CHALLENGES' | translate }}
  </button>
</ion-footer>