<!--
  Generated template for the AlertSettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
      <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="goProfile()" icon-only ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <div class="slogan-page">
      <p><span class="label-moo">{{'RECEIVE'|translate}}</span> <span class="label-titre" text-capitalize>{{ 'RAPPORTS' | translate }}</span></p>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <p text-wrap text-justify>{{ 'MAIL_RECEIVER_DESCRIPTION' |  translate }}</p>
    </ion-item>
  </ion-list>

  <hr>

      <ion-grid *ngIf="periode" padding >
        <ion-row  (click)="updateChoix(0)" [ngClass]="{'periode-select':periode[0].choix,'periode-unselect':!periode[0].choix}">
          <ion-col offset-1 col-10 text-capitalize text-center>
            {{periode[0].title}}
          </ion-col>
        </ion-row>
        <ion-row  (click)="updateChoix(1)" [ngClass]="{'periode-select':periode[1].choix,'periode-unselect':!periode[1].choix}">
          <ion-col offset-1 col-10 text-capitalize text-center>
            {{periode[1].title}}
          </ion-col>
        </ion-row>

        <ion-row  (click)="updateChoix(2)" [ngClass]="{'periode-select':periode[2].choix,'periode-unselect':!periode[2].choix}">
          <ion-col offset-1 col-10 text-capitalize text-center>
            {{periode[2].title}}
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-row padding>
        <ion-col offset-3 col-6>
          <button color="oranged" [disabled]="!choix" ion-button full (click)="savePeriode(choix)">{{'SAVE' | translate}}</button>
        </ion-col>
      </ion-row>

</ion-content>
