page-alert-setting {

  hr{
    border-bottom: 1px solid #ef9347;
  }

  .periode-select{
    background-color: #488aff;
    color: #ffffff;
  }


  .periode-unselect{
    background-color: rgba(0, 130, 200,0.3);
    color:  #488aff;
  }

  .grid{
      .row{
         margin-bottom: 10px;
      }
  }


  .logo{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
  }


  .slogan-page p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
  }

  .label-moo{
    color: #091233;
    font-weight: bold;
  }


  .label-titre{
    color: #ef9347;
    font-weight: bold;
  }

  //Design adapte au tablette
  @media screen and (min-width:600px){


    .logo{
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }
  }
}
