page-my-students {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .logo{
    width:50px;
    height: 50px;
    display: block;
    margin: auto;
  }


  .sub-title{
    color:#ef9347;
  }

  hr{
    border-bottom: 1px solid #ef9347;
  }



  .error-box img{
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
  }

  .error-box p{
    text-align: center;
    color: #0e86ef;
    font-weight: 500;
    font-size: 16px;
  }



  .add-box{
    border: 1px solid #0e86ef;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top:   10px;
  }

  .boder-fill{
    border: 1px dashed #808080;
    height: 65px;
    margin: 2px;
    padding: 5px;
  }

  .boder-fill img{
    height: 20px;
    width: 20px;
    display: block;
    margin: auto;
  }

  .button{
    text-transform: lowercase;
    margin-bottom: -5px;
  }

  .button:first-letter{
    text-transform:Capitalize;
  }



  .description p{
    text-align: justify;
    font-size: 1em;
    font-weight: 200;
    color: black;
  }

  .account-item h2{
    font-size: 14px;
    font-weight: bold;
    color: #091233;

  }

  .account-item h3{
    font-size: 12px;
    font-weight: 100;
    color: #808080;
  }

  .account-item p{
    font-size:10px;
    font-weight: 300;
    color: #0e86ef;
  }

  .account-item{
    margin-top: 5px;
  }


  .col .button{
    width: 100%;
    height: 50%;
    font-size: 9px;
    margin: 0;
    box-shadow: none;
    color: white;

  }

  .col .button:first-child{
    border-bottom: 1px solid white;
  }

  .row{
    border-style: solid;
    border-width: 0.5px;
    border-color: #0e86ef;
    margin-top: 10px;
    padding: 0;
    height: 82px;
  }

  .row .col:last-child{
    border-left: 1px solid #0e86ef;
    background-color: #0e86ef;

  }

  .image-profil{
    padding: 0;
  }

  .image-profil img{
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
  }






  //Design adapte au tablette
  @media screen and (min-width:600px){

    .logo{
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }

  }

}
