page-leader-board {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .image-icon{
      max-height: 24px;
      max-width: 24px;
  }

  /*Design of the cart*/

  .cart {
    background-color: #f4f4f4;
    min-height: 200px;
  }

  .diagram,.course-label{
    min-height: 200px;
    background-color: transparent;
  }

  .diagram canvas{
    min-height: 200px;
    background-color: transparent;
  }

  .course-label h3{
    color: #0e86ef;
    font-size: 12px;
    text-align: left;
  }

  .course-title h3{
    font-size: 12px;
    color: #0e86ef;
  }

  .course-label {
    .row {
      .col {
        &:first-child {
          max-height: 0.5px;
          max-width: 0.5px;
          margin-top: 10px;
        }
      }
    }

  }


  .button-option-active{
    background-color: #091233;
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
    height: 30px;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    margin-right: 5px;
  }

  .button-option{
    border: 1px solid #808070;
    background-color: transparent;
    font-weight: bold;
    font-size: 11px;
    color: #091233;
    height: 30px;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    margin-right: 5px;
  }


  /*Design subjects*/

  hr{
    border-bottom: 1px solid #FFFFFF;
    margin-right: 10%;
    margin-left: 2%;
  }

  .course-slide{
    min-height: 160px;
  }

  .course-slide-none{
    display: none;
  }

  .course{
    min-height: 130px;
    .col{
      margin: 5px;
    }
  }

  .content-course{

    border: 1px solid #fff;
    margin: 1px;
    min-height: 120px;

    h4{
      color: #fff;
      font-weight: bolder;
      font-size: 10px;
      margin: 2px;
      text-transform: capitalize;
    }

    h5{
      font-size: 15px;
      font-weight: bolder;
      margin: 2px;
      color: #fff;
    }

    p{
      margin: 2px;
      font-size: 10px;
      color: #fff;
    }

  }

  .slides{
    min-height: 170px;
  }

  .swiper-slide{
    min-height: 170px;
  }

  .swiper-pagination{
    margin-bottom: -10px;
  }

  .swiper-pagination-bullet{
    height: 10px;
    width: 10px;
  }

  .swiper-pagination-bullet-active{
    background: rgba(0, 0, 235, 0.5);
  }



  /*Design of points*/

  .result {

    .row {
      .col {

        img {
          max-height: 50px;
          max-width: 50px;
        }
        p {
          display: inline-block;
          top: -20px;
          position: relative;
          font-weight: bold;
          font-size: 2rem;

        }
      }
    }
  }

  .win  {
    color: #6cebfc;
  }

  .lost  {
    color: #f53d3d;
  }

  .trophy {
    color: #ef9347;
  }

  .win-point,.loss-point,.trophy-point {

    border-left: 8px solid #f4f4f4;
    border-radius: 2px;
    height: 60px;
    margin-left: 25px;
    margin-top: 0;
  }

  .win-image,.loss-image,.trophy-image {
    height: 50px;
    margin: 0;
  }

  .win-point span {
    color: #6cebfc;
    font-size: xx-large;
    margin-left: 50px;
    font-weight: bolder;
  }

  .loss-point span {
    color: #f53d3d;
    font-size: xx-large;
    margin-left: 50px;
    font-weight: bolder;
  }

  .trophy-point span {
    color: #ef9347;
    font-size: xx-large;
    margin-left: 50px;
    font-weight: bolder;
  }


  /*Design of footer*/

  .option-active{
    .row{
      .col{
        min-height: 50px;
        &:first-child{
          background-color: #488aff;
          color: #fff;
          text-transform: uppercase;
          font-weight: bolder;
        }

        &:last-child{
          background-color: #ef9347;
          color: #091233;
          text-transform: uppercase;
          font-weight: bolder;
        }
      }
    }
  }

  .option{
    .row{
      .col{
        min-height: 50px;
        &:first-child{

          background-color: #ef9347;
          color: #091233;
          text-transform: uppercase;
          font-weight: bolder;
        }

        &:last-child{
          background-color: #488aff;
          color: #fff;
          text-transform: uppercase;
          font-weight: bolder;
        }
      }
    }
  }


}
