
page-login {

  //Design adapate au telephone

  /*
      Design of phone
  */

  .item-class.item-md.item-block .item-inner{
    border-bottom: 0;
    padding-top: 8px;
  }

  .button-group.grid{
    margin-left:5px;
  }

  .button-group {

    .col {
      &:first-child:not(:last-child){
        padding-right: 0;
        .button {
          border-radius: 0;
          color: #091233;
          text-transform: capitalize;
          box-shadow: none;
        }
      }
      &:not(:first-child):not(:last-child){
        padding-right: 0;
        padding-left: 0;
        .button {
          border-radius: 0;
          opacity: 0.6;
          box-shadow: none;
        }
      }
      &:last-child:not(:first-child){
        padding-left: 0;
        .button {
          border-radius: 0;
          box-shadow: none;
        }
      }
    }

  }

  .logo{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
  }

  .title-toolbar{
    text-align: center;
    font-weight: bold;
  }

  .content-md hr,.content-ios hr {
    background-color: #eff3f7;
  }

  hr{
    height: 2px;
  }


  .list-md .item-input:last-child {
    border-bottom: 0;
  }

 

  .login-icon{
    min-height: 30px;
    min-width: 30px;
  }

  button.forgotPass {
    text-decoration: underline;
    text-transform: none;
  }

  .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img,
  .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img{
    height: 30px;
    width: 30px;
  }

  .segment-md-dark .segment-button,.segment-ios-dark .segment-button {
    font-weight: bold;
    color: #000000;
    border: solid 1px #ef9347;
  }

  .segment-md-dark .segment-button.activated, .segment-md-dark .segment-button.segment-activated
  ,.segment-ios-dark .segment-button.activated, .segment-ios-dark .segment-button.segment-activated {
    color: #ef9347;
    background-color: #091233;
  }

  .segment-md-dak-blue .segment-button,.segment-ios-dak-blue .segment-button {
    border: solid 1px #091233;
  }

  .segment-md-dak-blue .segment-button.activated, .segment-md-dak-blue .segment-button.segment-activated
  ,.segment-ios-dak-blue .segment-button.activated, .segment-ios-dak-blue .segment-button.segment-activated {
    color: #ffffff;
    background-color: #091233;
  }

  .segment-md .segment-button {
    text-transform: capitalize;
  }

  ion-segment {
    margin-left: 15px;
  }

.terme >a{
  color: #ef9347;
  text-decoration: none;
  font-weight: bold;
}

  .terme{
    font-size: 8px;
    padding: 0;
  }

  .toolbar-background {
    background:#0e86ef;
    background: linear-gradient(to top right, #0e86ef,#f4ffff);
  }

  .toolbar-title-md,.toolbar-title-ios{
    padding: 0;
    font-size: 12px;
  }

  .toolbar-md-light-blue .toolbar-title-md,.toolbar-ios-light-blue .toolbar-title-ios {
    color: #488aff;
  }

  .back-button-icon-md,.back-button-icon-ios{
    color:#488aff;
    padding: 0;
  }

  .alert-error{
    color: red;
  }


   /**
   * Design of the tablette
    */
  @media screen and (min-width:600px){

    .logo{
      width: 150px;
      height: 150px;
      display: block;
      margin: auto;
    }

    hr{
      height: 4px;
    }

    .login-page{
      padding: 50px;
    }

  }

}


