<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>

    <ion-navbar  color="light-blue">
        <ion-title color="primary">{{title}}</ion-title>
    </ion-navbar>
    <ion-toolbar color="light-blue">
        <img class="logo"  src="{{logo}}">
    </ion-toolbar>

</ion-header>

<ion-content padding class="login-page">

    <ion-list padding  no-lines>

        <ion-segment [(ngModel)]="choix" color="dark">
            <ion-segment-button value="Connexion" (ionSelect)="GotoConnexion('Connexion')">
                {{'BUTTON_CONNEXION' | translate}}
            </ion-segment-button>
            <ion-segment-button value="Inscription"  (ionSelect)="GotoInscription('Inscription')">
                {{'BUTTON_INSCRIPTION' | translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-list>

    <!--Segment Countries -->
    <!--<div  padding>
    <ion-grid class="button-group">
        <ion-row>
            <ion-col col-4>
                <button ion-button block outline color="bleu-gradient"> {{'COUNTRY' | translate }}</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block color="bleu-gradient">{{country}}</button>
            </ion-col>
            <ion-col col-2>
                <button ion-button block color="dak-blue" (click)="selectCountry()">
                    <ion-icon name="arrow-dropdown" item-end></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    </div>-->

    <div [ngSwitch]="choix">
        <div *ngSwitchCase="'Connexion'">
            <form [formGroup]="loginForm">
                <ion-list padding  no-lines>

                    <ion-item>
                        <ion-thumbnail class="login-icon" item-start>
                            <img  src="assets/img/speudo-icon.png">
                        </ion-thumbnail>
                        <ion-input formControlName="username"  type="text" placeholder="{{'USERNAME_EMAIL' | translate}}"></ion-input>
                    </ion-item>
                    <div *ngIf="usernameLogin.invalid && (usernameLogin.dirty || usernameLogin.touched)" class="alert-error">
                        <div *ngIf="usernameLogin.errors.required">
                            {{'USERNAME_EMAIL' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                    </div>

                    <hr>

                    <ion-item>
                        <ion-thumbnail class="login-icon" item-start>
                            <img  src="assets/img/pass-icon.png">
                        </ion-thumbnail>
                        <ion-input formControlName="password" id="pass" type="{{ !isActive ? 'password' : 'text' }}" placeholder="{{'PASSWORD' | translate}}"></ion-input>
                        <button *ngIf="loginForm.value.password" ion-button clear color="dark" type="button" item-right (click)="showPass()"> <ion-icon ios="ios-eye" md="md-eye"> </ion-icon> </button>
                    </ion-item>

                    <div *ngIf="passwordLogin.invalid && (passwordLogin.dirty || passwordLogin.touched)" class="alert-error">
                        <div *ngIf="passwordLogin.errors.required">
                            {{'PASSWORD' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                    </div>

                </ion-list>

                <ion-list padding no-lines>
                    <ion-item>
                        <button  color="oranged" (click)="login(loginForm.value)" [disabled]="loginForm.invalid" ion-button full>{{'ENTER' | translate}}</button>
                    </ion-item>
                    <ion-item>
                        <button   color="dark" (click)="forgotPass()" class="forgotPass" ion-button clear full>{{'FORGOT_PASSWORD' | translate}}</button>
                    </ion-item>
                </ion-list>
            </form>
        </div>

        <div *ngSwitchCase="'Inscription'">

            <form [formGroup]="registerForm" >

                <ion-list class="inscription" padding>

                    <!--Segment statut -->

                    <ion-item>
                        <ion-label color="dark" stacked>{{'STATUT' | translate }}</ion-label>
                    </ion-item>

                    <ion-segment formControlName="roles" color="dak-blue">

                        <ion-segment-button value="teacher">
                            {{status[0]}}
                        </ion-segment-button>

                        <ion-segment-button value="parent">
                            {{status[1]}}
                        </ion-segment-button>

                        <ion-segment-button value="student">
                            {{status[2]}}
                        </ion-segment-button>

                    </ion-segment>

                    <div *ngIf="roles.invalid && (roles.dirty || roles.touched)" class="alert-error">
                        <div *ngIf="roles.errors.required">
                            {{'STATUT' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                    </div>


                    <!--Segment class -->

                    <ion-item   class="item-class" *ngIf="registerForm.get('roles').value=='student'">
                        <ion-label color="dark" stacked>{{'CLASS' | translate }}</ion-label>
                    </ion-item>

                    <ion-grid class="button-group"  *ngIf="registerForm.get('roles').value=='student'">
                        <ion-row nowrap>
                            <ion-col col-4>
                                <button ion-button block outline color="bleu-gradient"> {{'CHOIX' | translate }}</button>
                            </ion-col>
                            <ion-col col-6>
                                <button ion-button block color="bleu-gradient">{{classe}}</button>
                            </ion-col>
                            <ion-col col-2>
                                <button ion-button block color="dak-blue" (click)="selectClass()">
                                    <ion-icon name="arrow-dropdown" item-end></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>



                    <div *ngIf="clas.invalid && (clas.dirty || clas.touched)" class="alert-error">
                        <div *ngIf="clas.errors.required">
                            {{'CLASS' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                    </div>


                    <!--Segment annee-->

                    <ion-item *ngIf="showAnnee&&registerForm.get('roles').value=='student'">
                        <ion-label color="dark" stacked>{{'YEAR' | translate }}</ion-label>
                    </ion-item>

                    <ion-segment formControlName="annee" color="dak-blue" *ngIf="showAnnee&&registerForm.get('roles').value=='student'">

                        <ion-segment-button  value="{{annees[0]}}" (ionSelect)="updateAnnee(0)" >
                            {{annees[0]}}
                        </ion-segment-button>

                        <ion-segment-button value="{{annees[1]}}" (ionSelect)="updateAnnee(1)" >
                            {{annees[1]}}
                        </ion-segment-button>

                    </ion-segment>

                    <div *ngIf="annee.invalid && (annee.dirty || annee.touched)" class="alert-error">
                        <div *ngIf="annee.errors.required">
                            {{'YEAR' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                    </div>

                    <!-- Segment Matiere -->

                    <ion-item   class="item-class" *ngIf="registerForm.get('roles').value=='teacher'">
                        <ion-label color="dark" stacked>{{'COURSE' | translate }}</ion-label>
                    </ion-item>

                    <ion-grid class="button-group"  *ngIf="registerForm.get('roles').value=='teacher'">
                        <ion-row>
                            <ion-col col-4>
                                <button ion-button block outline color="bleu-gradient"> {{'CHOIX' | translate }}</button>
                            </ion-col>
                            <ion-col col-6>
                                <button ion-button block color="bleu-gradient">{{course}}</button>
                            </ion-col>
                            <ion-col col-2>
                                <button ion-button block color="dak-blue" (click)="selectCourse()">
                                    <ion-icon name="arrow-dropdown" item-end></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <div *ngIf="matiere.invalid && (matiere.dirty || matiere.touched)" class="alert-error">
                        <div *ngIf="matiere.errors.required">
                            {{'COURSE' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                    </div>

                    <!--Input form -->

                    <!--<ion-item>
                        <ion-label color="dark" stacked>{{'NAME' | translate}}</ion-label>
                        <ion-input type="text"  formControlName="nom" placeholder="{{'PLACEHOLDER_NAME' | translate}}"></ion-input>
                    </ion-item>

                    <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert-error">
                        <div *ngIf="nom.errors.required">
                            {{'NAME' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                        <div *ngIf="nom.errors.minlength">
                            {{'NAME' | translate}}  {{'FIELDS_MINLENGTH' | translate}}
                        </div>
                        <div *ngIf="nom.errors.maxlength">
                            {{'NAME' | translate}}  {{'FIELDS_MAXLENGTH' | translate}}
                        </div>
                    </div>

                    <ion-item>
                        <ion-label color="dark" stacked>{{'SURNAME' | translate}}</ion-label>
                        <ion-input type="text"  formControlName="prenom" placeholder="{{'PLACEHOLDER_SURNAME' | translate}}"></ion-input>
                    </ion-item>

                    <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert-error">
                        <div *ngIf="prenom.errors.required">
                            {{'SURNAME' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                        <div *ngIf="prenom.errors.minlength">
                            {{'SURNAME' | translate}}  {{'FIELDS_MINLENGTH' | translate}}
                        </div>
                        <div *ngIf="prenom.errors.maxlength">
                            {{'SURNAME' | translate}}  {{'FIELDS_MAXLENGTH' | translate}}
                        </div>
                    </div>-->

                    <ion-item>
                        <ion-label color="dark" stacked>{{'PHONE' | translate}}</ion-label>
                        <ion-input type="tel" formControlName="tel" placeholder="{{'PLACEHOLDER_PHONE' | translate}}"></ion-input>
                    </ion-item>

                    <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="alert-error">
                        <div *ngIf="tel.errors.required">
                            {{'PHONE' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>

                        <div *ngIf="tel.errors.pattern">
                            {{'PHONE' | translate}}  {{'FIELDS_PATTERN' | translate}}
                        </div>
                    </div>


                    <ion-item>
                        <ion-label color="dark" stacked>{{'USERNAME' | translate}}</ion-label>
                        <ion-input type="text"  formControlName="username" placeholder="{{'PLACEHOLDER_USERNAME' | translate}}"></ion-input>
                    </ion-item>

                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert-error">
                        <div *ngIf="username.errors.required">
                            {{'USERNAME' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                        <div *ngIf="username.errors.minlength">
                            {{'USERNAME' | translate}}  {{'FIELDS_MINLENGTH' | translate}}
                        </div>
                        <div *ngIf="username.errors.maxlength">
                            {{'USERNAME' | translate}}  {{'FIELDS_MAXLENGTH' | translate}}
                        </div>
                    </div>

                    <ion-item>
                        <ion-label color="dark" stacked>{{'PASSWORD' | translate}}</ion-label>
                        <ion-input type="{{ !isActive ? 'password' : 'text' }}" formControlName="password" placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}"></ion-input>
                        <button *ngIf="registerForm.value.password" ion-button clear color="dark" type="button" item-right (click)="showPass()"> <ion-icon ios="ios-eye" md="md-eye"> </ion-icon> </button>
                    </ion-item>

                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-error">
                        <div *ngIf="password.errors.required">
                            {{'PASSWORD' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                        <div *ngIf="password.errors.minlength">
                            {{'PASSWORD' | translate}}  {{'FIELDS_MINLENGTH' | translate}}
                        </div>
                        <div *ngIf="password.errors.maxlength">
                            {{'PASSWORD' | translate}}  {{'FIELDS_MAXLENGTH' | translate}}
                        </div>
                    </div>


                    <ion-item>
                            <ion-label color="dark" stacked>{{'EMAIL' | translate}}</ion-label>
                            <ion-input type="email"  formControlName="email" placeholder="{{'PLACEHOLDER_EMAIL' | translate}}"></ion-input>
                    </ion-item>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-error">
                            <div *ngIf="email.errors.required">
                                {{'EMAIL' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                            </div>
                            <div *ngIf="email.errors.pattern">
                                {{'EMAIL' | translate}}  {{'FIELDS_PATTERN' | translate}}
                            </div>
                    </div>


                    <ion-item text-wrap item-start no-lines>
                        <ion-label color="oranged" class="terme">{{'TERME1' | translate}} <a>{{'TERME2' | translate}}</a> {{'TERME3' | translate}}</ion-label>
                        <ion-checkbox color="oranged" formControlName="terms" (ionChange)="showTermes()"></ion-checkbox>
                    </ion-item>

                    <div *ngIf="terms.invalid && (terms.dirty || terms.touched)" class="alert-error">
                        <div *ngIf="terms.errors.required">
                            {{'TERME2' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                        </div>
                    </div>

                    <ion-item>
                        <button color="dak-blue" [disabled]="registerForm.invalid||(!classe&&registerForm.value.roles=='student')||(!registerForm.value.annee&&registerForm.value.roles=='student')||(!course&&registerForm.value.roles=='teacher')" ion-button full (click)="register(registerForm.value)">{{'SAVE' | translate}}</button>
                    </ion-item>

                </ion-list>

            </form>
        </div>

    </div>

</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-title class="title-toolbar">{{'MESSAGE_BIENVENUE' | translate }}</ion-title>
    </ion-toolbar>
</ion-footer>
