<!--
  Generated template for the TeacherStudentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only (click)="gotoCourses()" ion-button>
        <ion-icon name="document"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <p class="sub-title"><span>{{ 'MANAGE' | translate }} </span> <span> {{ 'ACCOUNTS' | translate }} </span></p>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="getUsersCourses($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="message" *ngIf="courses&&courses.length==1">
    <p text-wrap text-justify>{{ 'USERS_COURSE_MESSAGE' | translate }}</p>
  </div>

  <hr *ngIf="courses&&courses.length==1">


  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list  *ngIf="serveurReponse&&courses&&courses.length==0" >
    <ion-item class="description" text-wrap>
      <p> {{ 'DESCRIPTION_COURSES' | translate }} </p>
    </ion-item>
  </ion-list>

  <hr *ngIf="serveurReponse&&courses&&courses.length==0">
  <ion-grid>
    <ion-row class="course" [ngStyle]="{'background-color':backgroundColors[courses.indexOf(course)%4]}" (click)="gotoUsersPage(course)" *ngFor="let course  of courses" nowrap>
      <ion-col col-2 col-md-1 *ngIf="course">{{course.NOM_MATIERE.substring(0,2).toUpperCase()}}</ion-col>
      <ion-col col-10 col-md-11   *ngIf="course">
        <p>{{course.NOM_MATIERE.toUpperCase()}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
