page-teacher-students {

  .logo{
    width:50px;
    height: 50px;
    display: block;
    margin: auto;
  }

  .message p{
    color: #000000;
    opacity: 0.6;
  }

  .sub-title{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: -4px;
  }

  .sub-title span:first-child{
    color:#091233;
  }

  .sub-title span:last-child{
    color:#ef9347;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  hr{
    border-bottom: 1px solid #ef9347;
  }

  .bar-button-md{
    text-transform: none;
  }

  .course{
    height: 50px;
    margin: 5px;
  }

  .course {
    .col{
      &:first-child{
        background-color: #488aff;
        text-align: center;
        color: #fff;
        padding-top: 15px;
        text-transform: uppercase;
        font-weight: bold;
      }

    }
  }


}
