<!--
  Generated template for the ForumCommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
    <ion-title><span class="slogan">MooExams</span><span class="titre">{{ 'FORUM' | translate }}</span></ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="goProfile()" icon-only ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >

  <ion-list class="post" *ngIf="posts">
    <ion-item >
      <ion-row>
        <ion-col col-2>
          <img src="{{users.image_data ? users.image_data : 'assets/img/emoji.png'}}" style="width: 50px;height: 50px">
        </ion-col>
        <ion-col col-10>
          <ion-row class="forum-user" text-wrap nowrap>
            <ion-col col-4>{{users.username}}</ion-col>
            <ion-col col-4  *ngIf="!classes">{{users.role_id==5?statut[0]:statut[1]}}</ion-col>
            <ion-col col-4 *ngIf="classes">| {{classes.NOM_CLASSE}} <span *ngIf="classes&&classes.OPTION_CLASSE">{{classes.OPTION_CLASSE}}</span></ion-col>
            <ion-col col-4>{{formatDatePost(posts.created_at)}}</ion-col>
          </ion-row>
          <ion-row class="forum-info">
            <ion-col col-12>
              <p text-wrap>
                {{ posts.summary }}
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="posts.image">
            <ion-col col-12>
              <img src="{{posts.image}}">
            </ion-col>
          </ion-row>
          <ion-row class="forum-tab" text-wrap nowrap>
            <ion-col col-2><ion-icon name="eye">{{posts.nb_vues}}</ion-icon></ion-col>
            <ion-col col-2 (click)="likePost()"><ion-icon name="heart">{{posts.nb_likes}}</ion-icon></ion-col>
            <ion-col col-2><ion-icon name="chatbubbles">{{commentaires.length}}</ion-icon></ion-col>
            <ion-col col-6>{{matieres}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list padding class="comment" *ngIf="commentaires">
    <h4 *ngIf="commentaires&&commentaires.length>0" class="reponse"> {{ 'FORUM_ANSWER' | translate }}</h4>

    <ion-item *ngFor="let comment of commentaires">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <img src="{{getUserInfos(comment.user_id,usersComments).image_data?getUserInfos(comment.user_id,usersComments).image_data:'assets/img/emoji.png'}}" style="width: 50px;height: 50px">
          </ion-col>

          <ion-col col-10>
            <ion-row class="comment-user">
              <ion-col col-4>{{getUserInfos(comment.user_id,usersComments).username}} </ion-col>
              <ion-col col-4 *ngIf="!getclass(comment.user_id,classesComments,usersComments)">| {{getUserInfos(comment.user_id,usersComments).role_id==5?statut[0]:statut[1]}}</ion-col>
              <ion-col col-4 *ngIf="getclass(comment.user_id,classesComments,usersComments)">| {{getclass(comment.user_id,classesComments,usersComments)}}</ion-col>
              <ion-col col-4></ion-col>
            </ion-row>

            <ion-row class="comment-info">
              <ion-col col-12>
                <p text-wrap>{{ comment.message }}</p>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="comment.image">
              <ion-col col-12>
                <img src="{{url}}{{comment.image}}">
              </ion-col>
            </ion-row>

            <ion-row class="comment-tab">
              <ion-col col-4 (click)="commentPost()"><ion-icon name="redo">{{ 'ANSWER' | translate }}</ion-icon></ion-col>
              <ion-col col-4 (click)="likeComment(comment)"><ion-icon name="heart">{{ 'LIKE' | translate }}</ion-icon></ion-col>
              <ion-col col-4>{{formatDatePost(comment.created_at)}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer class="comment-footer" [ngClass]="{'resize-footer':sendComment==true}">
  <ion-item *ngIf="commentForm.value.image">
    <ion-thumbnail>
      <img src="{{commentForm.value.image}}">
    </ion-thumbnail>
  </ion-item>
  <form [formGroup]="commentForm" novalidate>
    <ion-row nowrap>
      <ion-col col-2>
        <button color="dak-blue" ion-button icon-only clear (click)="getPostPicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8>
        <ion-item no-border>
          <ion-textarea text-wrap formControlName="message" rows="1" #myMessage (keyup)="resize()" (change)="resize()" max="1000"  (ionFocus)="focus" placeholder="{{ 'FORUM_COMMENT_MESSAGE' | translate }}"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <button color="light" ion-button icon-only clear [disabled]="commentForm.invalid" (click)="sendPost(commentForm.value)">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </form>

</ion-footer>
