page-forum-comments {

  span.slogan{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
  }

  span.titre{
    color: #42b9f4;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    text-transform: capitalize;
  }

  .forum-user .col{
    font-size: 8px;
  }

  .forum-user .col:first-child{
    color: #000000;
    text-transform: capitalize;
    font-size: 9px;
    font-weight: bold;
  }

  .comment-user .col:first-child{
    color: #000000;
    text-transform: capitalize;
    font-size: 9px;
    font-weight: bold;
  }

  .forum-user .col:last-child{
    color: #8e9093;
    text-transform: capitalize;
    text-align: right;
  }

  .comment-user .col:not(:first-child):not(:last-child){
    color: #8e9093;
    font-size: 9px;
    text-transform: capitalize;
    text-align: right;
  }

  .forum-user .col:not(:first-child):not(:last-child){
    color: #8e9093;
    text-transform: capitalize;
  }

  .forum-tab .col{
    font-size: 8px;
  }

  .comment-tab .col{
    font-size: 8px;
  }

  .forum-tab .col:last-child{
    color: #ef9347;
    font-size: 9px;
    text-transform: capitalize;
    text-align: right;
  }

  .comment-tab .col:last-child{
    color: #8e9093;
    font-size: 9px;
    text-transform: capitalize;
    text-align: right;
  }

  .comment .item.item-md{
    border-bottom: 1px solid #ef9347;
  }

  .post .item.item-md{
    border-bottom:0;
  }

  .post .item{
    background-color: #e3f7fc;
  }

  .comment-footer{
    background-color: #e3f7fc;
  }

  .comment-footer .item{
    background-color: #e3f7fc;
  }

  .comment-footer .item-md.item-block .item-inner {
    border-bottom:0;
  }

  .icon.ion-md-send:before{
    color: #ffffff;
  }

  .icon.ion-md-camera:before{
    color: #091233;
  }

  .comment-footer .col:last-child{
    background-color: #488aff;

    .button{
      margin-top: 15px;
    }
  }

  .resize-footer{
    height: 70px;
  }

  textarea.text-input.text-input-md{
    text-decoration: none;
  }


  .comment-footer .col:first-child{
    border-right: 1px solid #488aff;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .item-md  p{
    font-size: 1rem;
    text-align: justify;
  }

  .icon:before{
    color: grey;
    margin-right: 2px;
  }

  .icon{
    color: #8e9093;
  }

  .icon.ion-md-person:before{
    color: #ef9347;
    font-size: 24px;
  }

  .reponse{
    color: #488aff;
    font-weight: bold;
  }

}
