<!--
  Generated template for the ChallengeUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><span class="slogan">MooExams</span><span class="titre">{{ 'CHALLENGES' | translate }}</span></ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="addUser()" icon-only ion-button>
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="getUserChild($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>


  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="userData&&userData.length>0" no-lines>
    <ion-row class="course" *ngFor="let student of userData;let i=index" [ngStyle]="{'background-color':backgroundColors[i%4]}"  nowrap>
      <ion-col col-2 col-md-1>
        {{student.username.substring(0,2)}}
      </ion-col>
      <ion-col col-10 col-md-11>
        <ion-item [ngStyle]="{'background-color':backgroundColors[i%3]}">
          <ion-label text-capitalize>{{student.username}} </ion-label>
          <!--<ion-label text-capitalize>{{student.prenom}}  {{student.nom}}</ion-label>-->
          <ion-checkbox  [(ngModel)]="userFormData[userData.indexOf(student)].choix" color="dak-blue" checked="false" item-end></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list *ngIf="serveurReponse&&userData&&userData.length==0"  padding-top>
    <ion-item text-wrap>
      <p>{{ 'CHALLENGE_EMPTY_USER_MESSAGE' |  translate }}</p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer  no-border>
  <button [disabled]="!userSelected(userFormData)" color="oranged" full ion-button (click)="inviteUser()">
    {{ 'CHALLENGE_INVITED' | translate }}
  </button>
</ion-footer>
