page-challenge-user {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  span.slogan{
    font-size: large;
    font-weight: bold;
    font-style: italic;
  }

  span.titre{
    color: #ef9347;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    text-transform: capitalize;
  }

  .course{
    margin: 5px;
    height: 50px;
  }

  .course {
    .col{
      &:first-child{
        background-color:#488aff;
        text-align: center;
        color: #fff;
        padding-top: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: large;
      }

    }
  }

  .item .item-md{
    border:0;
  }

  button{
    border:0;
  }

  .radio-md .radio-icon{
    border-radius: 2px;
    border-color: #488aff;
    border-width: 0.5px;
  }

}
