<!--
  Generated template for the CreateChallengePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><span class="slogan">MooExams</span><span class="titre">{{ 'CHALLENGES' | translate }}</span></ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="goProfile()" icon-only ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-buttons color="oranged" ion-button clear end>
      {{ 'CHALLENGE_NEW' |translate }}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <form [formGroup]="challengeForm" >

    <ion-list no-lines>

      <ion-item padding-bottom>
        <ion-label color="dark" stacked>
          {{'CHALLENGE_TITRE' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="titre" placeholder="{{ 'PLACEHOLDER_MESSAGE' | translate }}"></ion-input>
      </ion-item>

      <ion-item padding-bottom >
        <span color="dark" class="label-item">
          {{'COURSE' | translate }}
        </span>
        <ion-row  class="selection" (click)="radioList()">
          <ion-col col-12>
            <span *ngIf="testRadioResult">{{testRadioResult}}</span>
            <span *ngIf="!testRadioResult">{{ 'FORUM_SELECT_TEXT' | translate }}</span>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item padding-bottom>
        <ion-label color="dark"  stacked>
          {{'CHALLENGE_DESCRIPTION' | translate }}
        </ion-label>
        <ion-textarea #texte rows="3" (change)="resize()" (keyup)="resize()" formControlName="description" placeholder="{{ 'PLACEHOLDER_MESSAGE' | translate }}"></ion-textarea>
      </ion-item>

      <ion-item (click)="getPicture()">
        <span color="dark" class="label-item" >
          {{ 'CHALLENGE_PHOTO' | translate }}
        </span>
        <ion-thumbnail>
          <img *ngIf="challengeForm.value.image" src="{{challengeForm.value.image}}">
          <ion-icon *ngIf="!challengeForm.value.image" name="camera"></ion-icon>
        </ion-thumbnail>
      </ion-item>

      <ion-item text-wrap>
        <ion-row nowrap>
          <ion-col class="label-item">{{ 'CHALLENGE_DEBUT' | translate }}</ion-col>
          <ion-col class="label-item" offset-1 >{{ 'CHALLENGE_FIN' | translate }}</ion-col>
        </ion-row>
        <ion-row nowrap class="cadre">
          <ion-col  (click)="showClock(0)"> {{formatDate(defaultTime[0])}}</ion-col>
          <ion-col offset-1 (click)="showClock(1)"> {{formatDate(defaultTime[1])}}</ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col offset-4>
            <button ion-button color="oranged" [disabled]="challengeForm.invalid" (click)="saveChallenge(challengeForm.value)">{{ 'SAVED' | translate }}</button>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>

  </form>


</ion-content>
