page-create-challenge {

  .bar-button-md{
    text-transform: none;
  }

  span.slogan{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
  }

  .icon.ion-md-camera:before{
    font-size: 40px;
    margin-left: 10px;
  }

  span.titre{
    color: #42b9f4;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    text-transform: capitalize;
  }

  ion-label{
    color: #091233;
  }

  .item-input ion-input{
    border: 1px solid #ef9347;
    margin: 5px;
    padding: 5px;
  }

  .item-input ion-textarea{
    border: 1px solid #ef9347;
  }

  .list-md .item-input:last-child {
    border-bottom: 0;
  }

  .cadre{
      .col{
        border: 1px solid #ef9347;
        color: #808080;
        text-align: center;
      }
  }

  .selection{
      .col{
        border: 1px solid #ef9347;
        height: 40px;
        width: 100%;

        span{
          color:#808080;
        }
      }
  }

  .label-item{
    font-size: 1.2rem;
    color:#222;
  }
}
