page-matiere-classe {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .bar-button-md{
    text-transform: none;
  }

  .course{
    height: 50px;
    margin: 10px;
  }

  .course {
    .col{
      &:first-child{
        background-color:#488aff;
        text-align: center;
        color: #fff;
        padding-top: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: large;
      }

    }
  }

  .item .item-md{
    border:0;
  }

  button{
    border:0;
  }

  .radio-md .radio-icon{
    border-radius: 2px;
    border-color: #488aff;
    border-width: 0.5px;
  }


}
