<!--
  Generated template for the ProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'TITLE_PROFIL' | translate }}</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only (tap)="logout()" ion-button>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div  class="profilBackground" [ngStyle]="{'background-image': 'url(' +imageStyles+ ')'}">

    <button ion-button clear icon-only icon-end (tap)="getPicture()" >
      <ion-icon name="camera"></ion-icon>
    </button>
    <p class="profil-name" *ngIf="userData.user">{{userData.user.username}}</p>
    <p class="profil-class" *ngIf="userData.classes">{{userData.classes.NOM_CLASSE}} <span *ngIf="userData.classes.OPTION_CLASSE"> {{userData.classes.OPTION_CLASSE}}</span></p>
    <div class="profil-score" >
      <!--<ion-row *ngIf="userData.user&&userData.user.role_id==4">
        <ion-col col-4>{{ 'PROFIL_QUESTIONS_ANSWERS'| translate }} : <span class="number">0</span></ion-col>
        <ion-col col-4>{{ 'PROFIL_TOTAL_POINTS' | translate  }} : <span class="number">0</span></ion-col>
        <ion-col col-4>{{ 'PROFIL_RANGING' | translate }} : <span class="number">0</span></ion-col>
      </ion-row>-->
    </div>
  </div>

  <ion-list no-lines>

    <ion-segment [(ngModel)]="option" color="dark">
      <ion-segment-button value="identification" (ionSelect)="getOption('identification',0)" >{{ 'PROFIL_IDENTIFICATION' | translate }}</ion-segment-button>
      <ion-segment-button *ngIf="userData.user&&userData.user.role_id==4" value="statut" (ionSelect)="getOption('statut',1)"  >{{ 'PROFIL_STATUT' | translate }}</ion-segment-button>
      <ion-segment-button *ngIf="userData.user&&userData.user.role_id==4"  value="notification" (ionSelect)="getOption('notification',2)"  >{{ 'PROFIL_NOTIFICATION' | translate }}</ion-segment-button>
    </ion-segment>
  </ion-list>

  <div  [ngSwitch]="option">

    <div *ngSwitchCase="'identification'">
      <form   [formGroup]="userForm">
        <ion-list *ngIf="userData.user" no-lines class="profil-identification">

          <ion-item  text-wrap>
            <h3  *ngIf="!options[0].choix">{{ 'NAME' | translate }} </h3>
            <p *ngIf="userData.user.nom&&!options[0].choix">{{userData.user.nom}}</p>
            <ion-icon name="create"  *ngIf="!options[0].choix" item-right (tap)="showEdition(0)"></ion-icon>
            <button ion-button clear *ngIf="options[0].choix" (tap)="editAccount('nom')" item-right>
              <ion-icon name="checkmark"></ion-icon>
            </button>
            <ion-label *ngIf="options[0].choix" stacked>{{ 'NAME' | translate }}</ion-label>
            <ion-input formControlName="nom" *ngIf="options[0].choix" type="text" placeholder="{{userData.user.nom}}" (ionFocus)="options[0].choix"></ion-input>
          </ion-item>

          <ion-item text-wrap>
            <h3 *ngIf="!options[1].choix">{{ 'SURNAME' | translate }} </h3>
            <p *ngIf="userData.user.prenom&&!options[1].choix">{{userData.user.prenom}}</p>
            <ion-icon name="create"  *ngIf="!options[1].choix" item-right (tap)="showEdition(1)"></ion-icon>
            <button ion-button clear  *ngIf="options[1].choix" (tap)="editAccount('prenom')" item-right>
              <ion-icon name="checkmark" ></ion-icon>
            </button>
            <ion-label *ngIf="options[1].choix" stacked>{{ 'SURNAME' | translate }}</ion-label>
            <ion-input formControlName="prenom" *ngIf="options[1].choix" type="text" placeholder="{{userData.user.prenom}}" (ionFocus)="options[1].choix"></ion-input>
          </ion-item>

          <ion-item text-wrap>
            <h3 *ngIf="!options[2].choix">{{ 'EMAIL' | translate }} </h3>
            <p *ngIf="userData.user.email&&!options[2].choix">{{userData.user.email}}</p>
            <ion-icon  name="create" *ngIf="!options[2].choix" item-right  (tap)="showEdition(2)"></ion-icon>
            <button ion-button clear  *ngIf="options[2].choix" (tap)="editAccount('email')" item-right>
              <ion-icon  name="checkmark"></ion-icon>
            </button>
            <ion-label *ngIf="options[2].choix" stacked>{{ 'EMAIL' | translate }}</ion-label>
            <ion-input formControlName="email" *ngIf="options[2].choix" type="email" placeholder="{{userData.user.email}}" (ionFocus)="options[2].choix"></ion-input>
          </ion-item>

          <ion-item text-wrap>
            <h3 *ngIf="!options[3].choix">{{ 'USERNAME' | translate }} </h3>
            <p *ngIf="userData.user.username&&!options[3].choix">{{userData.user.username}}</p>
            <ion-icon name="create" *ngIf="!options[3].choix" item-right (tap)="showEdition(3)"></ion-icon>
            <button ion-button clear  *ngIf="options[3].choix" (tap)="editAccount('username')" item-right>
              <ion-icon name="checkmark"></ion-icon>
            </button>
            <ion-label *ngIf="options[3].choix" stacked>{{ 'NAME' | translate }}</ion-label>
            <ion-input formControlName="username" *ngIf="options[3].choix" type="text" placeholder="{{userData.user.username}}" (ionFocus)="options[3].choix"></ion-input>
          </ion-item>
          <ion-item text-wrap>
            <h3 *ngIf="!options[4].choix">{{ 'PHONE' | translate }} </h3>
            <p *ngIf="userData.user.tel&&!options[4].choix">{{userData.user.tel}}</p>
            <ion-icon name="create" *ngIf="!options[4].choix" item-right (tap)="showEdition(4)"></ion-icon>
            <button ion-button clear  *ngIf="options[4].choix" (tap)="editAccount('tel')" item-right>
              <ion-icon name="checkmark"></ion-icon>
            </button>
            <ion-label *ngIf="options[4].choix" stacked>{{ 'PHONE' | translate }}</ion-label>
            <ion-input formControlName="tel" *ngIf="options[4].choix" type="tel" placeholder="{{userData.user.tel}}" (ionFocus)="options[4].choix"></ion-input>
          </ion-item >

          <ion-item text-wrap>
            <h3>{{ 'LANGUAGE' | translate }} </h3>
            <p>{{userData.user.language}}</p>
              <ion-icon name="create" item-right (tap)="showEdition(5)"></ion-icon>
          </ion-item >

          <ion-item text-wrap>
            <h3>{{ 'GENDER' | translate }} </h3>
            <p>{{userData.user.gender}}</p>
            <ion-icon name="create" item-right (tap)="showEdition(6)"></ion-icon>
          </ion-item>

          <ion-item text-wrap>

            <h3 *ngIf="!options[7].choix">{{ 'PASSWORD' | translate }} </h3>
            <p *ngIf="!options[7].choix">*********</p>
            <ion-icon name="create" *ngIf="!options[7].choix" item-right (tap)="showEdition(7)"></ion-icon>
            <ion-icon name="checkmark" *ngIf="options[7].choix" item-right (tap)="editAccount('password')"></ion-icon>

            <ion-item *ngIf="options[7].choix">
              <ion-label  stacked>{{ 'OLD_PASS' | translate }}</ion-label>
              <ion-input formControlName="oldPassword" *ngIf="options[7].choix" type="text" placeholder="" (ionFocus)="options[7].choix"></ion-input>
            </ion-item>

            <ion-item *ngIf="options[7].choix">
              <ion-label  stacked>{{ 'NEW_PASS' | translate }}</ion-label>
              <ion-input formControlName="newPassword" *ngIf="options[7].choix" type="password" placeholder=""></ion-input>
            </ion-item>

          </ion-item>

          <ion-item  text-wrap>
            <h3>{{ 'COUNTRY' | translate }} </h3>
            <p *ngIf="countryName">{{countryName}}</p>
            <ion-icon name="create" item-right (tap)="showEdition(8)"></ion-icon>
          </ion-item>

          <ion-item  text-wrap>
            <h3 *ngIf="!options[9].choix">{{ 'TOWN' | translate }} </h3>
            <p *ngIf="userData.user.ville&&!options[9].choix">{{userData.user.ville}} </p>
            <ion-icon name="create"  *ngIf="!options[9].choix" item-right (tap)="showEdition(9)"></ion-icon>

            <button ion-button clear  *ngIf="options[9].choix" (tap)="editAccount('ville')" item-right>
              <ion-icon name="checkmark"></ion-icon>
            </button>

            <ion-label *ngIf="options[9].choix" stacked>{{ 'TOWN' | translate }}</ion-label>
            <ion-input formControlName="ville" *ngIf="options[9].choix" type="text" placeholder="{{userData.user.ville}}" (ionFocus)="options[9].choix"></ion-input>
          </ion-item>

          <ion-item text-wrap>
            <h3 *ngIf="!options[10].choix">{{ 'ADDRESS' | translate }} </h3>
            <p *ngIf="userData.user.adresse&&!options[10].choix">{{userData.user.adresse}}</p>
            <ion-icon name="create"    *ngIf="!options[10].choix" item-right (tap)="showEdition(10)"></ion-icon>
            <button ion-button clear  *ngIf="options[10].choix" (tap)="editAccount('adresse')" item-right>
              <ion-icon name="checkmark" ></ion-icon>
            </button>
            <ion-label *ngIf="options[10].choix" stacked>{{ 'ADDRESS' | translate }}</ion-label>
            <ion-input formControlName="adresse" *ngIf="options[10].choix" type="text" placeholder="{{userData.user.adresse}}" (ionFocus)="options[10].choix"></ion-input>
          </ion-item>
        </ion-list>
      </form>

    </div>

    <div *ngSwitchCase="'statut'">

      <form [formGroup]="classeForm">

        <ion-list *ngIf="userData.classes" no-lines class="profil-identification">
          <ion-item  text-wrap>
            <h3 >{{ 'CLASS' | translate }} </h3>
            <p *ngIf="userData.classes.NOM_CLASSE">{{userData.classes.NOM_CLASSE}} <span *ngIf="userData.classes.OPTION_CLASSE"> {{userData.classes.OPTION_CLASSE}}</span></p>
            <ion-icon name="create" item-right (tap)="showclassEdition(11)"></ion-icon>
          </ion-item>

          <ion-item  text-wrap>
            <h3>{{ 'YEAR' | translate }} </h3>
            <p *ngIf="userData.classes.annee">{{userData.classes.annee}}</p>
            <ion-icon name="create"  (tap)="showclassEdition(13)" item-right></ion-icon>
          </ion-item>

          <ion-item  text-wrap>
            <h3 *ngIf="!options[12].choix">{{ 'SCHOOL' | translate }} </h3>
            <p *ngIf="userData.classes.school&&!options[12].choix">{{userData.classes.school}} </p>
            <ion-icon name="create" *ngIf="!options[12].choix" (tap)="showclassEdition(12)" item-right></ion-icon>

            <button ion-button clear  *ngIf="options[12].choix" (tap)="editAccount('school')" item-right>
              <ion-icon name="checkmark"></ion-icon>
            </button>
            <ion-label *ngIf="options[12].choix" stacked>{{ 'SCHOOL' | translate }}</ion-label>
            <ion-input formControlName="school" *ngIf="options[12].choix" type="text" placeholder="{{userData.classes.school}}" (ionFocus)="options[12].choix"></ion-input>
          </ion-item>

        </ion-list>

      </form>

      <div *ngIf="niveaux&&niveaux.length>0&&userData&&userData.user&&userData.user.role_id==4&&courses.length>0">

        <ion-list>
          <ion-item-divider color="#808080" text-center>
            <h2>{{ 'USER_LEVELS' | translate }}</h2>
          </ion-item-divider>

          <ion-item [ngClass]="{'niveau':getCourseName(niveau.id_matiere),'hide-niveau':!getCourseName(niveau.id_matiere)}" *ngFor="let niveau of niveaux" text-wrap>
            <ion-row *ngIf="getCourseName(niveau.id_matiere)">
              <ion-col col-6>{{getCourseName(niveau.id_matiere)}}</ion-col>
              <ion-col col-6><ion-badge>{{niveau.badge}}</ion-badge></ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

      </div>

    </div>

    <div *ngSwitchCase="'notification'">

      <ion-list  class="notification" *ngIf="notifications&&notifications.length>0" no-lines>
        <ion-item-sliding *ngFor="let notification of notifications" #slidingItem>
          <ion-item  text-wrap >
            <ion-row>
              <ion-col col-3>
                <img src="assets/img/happy_sm.png">
              </ion-col>

              <ion-col col-6>
                <p text-wrap [innerHTML]="notification.message"></p>
              </ion-col>

              <ion-col col-3>
                <ion-row>
                  <ion-col col-12 (click)="accepted(notification)"><ion-icon name="person-add"></ion-icon> <span>{{ 'ADDED' | translate }}</span> </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12><span [innerHTML]="formatTime(notification.date_send)"></span></ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="oranged" (click)="deleteInvitations(notification,slidingItem)">
              <ion-icon name="trash"></ion-icon>
              {{ 'DELETE' | translate }}
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-list  class="notification" *ngIf="challenges&&challenges.length>0" no-lines>

        <ion-item-sliding *ngFor="let challeng of challenges" #slidingItem>
          <ion-item  text-wrap *ngIf="challeng.state==0&&challeng.active==1">
            <ion-row>
              <ion-col col-3>
                <img src="{{challeng.image?url+challeng.image:'assets/img/trophy.png'}}">
              </ion-col>

              <ion-col col-6>
                <p text-wrap><b>{{challeng.titre}}</b><br>{{challeng.description}}</p>
              </ion-col>

              <ion-col col-3>
                <ion-row>
                  <ion-col col-12 (click)="participedToChallenge(challenges.indexOf(challeng),challeng)"><ion-icon name="checkmark"></ion-icon><span>{{ 'CHALLENGES_ACCEPTED' | translate }}</span> </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12><span>{{formatTime(challeng.date_debut)}}</span></ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options side="left" *ngIf="challeng.state==0&&challeng.active==1">
            <button ion-button color="oranged" (click)="declineInvitation(challenges.indexOf(challeng),challeng)">
              <ion-icon name="trash"></ion-icon>
              {{ 'CHALLENGES_DECLINE' | translate }}
            </button>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>

      <ion-list *ngIf="notifications&&notifications.length==0&&challenges&&challenges.length==0" padding>
        <ion-item text-wrap>
          <p text-center>{{'NOTIFICATIONS_MESSAGE' | translate }}</p>
        </ion-item>
      </ion-list>

    </div>

    <div *ngSwitchDefault>
    </div>

  </div>

</ion-content>
