page-profil {

  .button{
    color: #f0f0f0;
    margin-left: calc(100% - 60px);
  }
  .ion-md-log-out:before{
      font-size: 24px;
  }

  .profilBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .niveau .row .col:first-child{

    font-weight: bold;
    color: #091233;
    text-align: left;
  }

  .niveau .row .col:last-child{
    color: #ffffff;
    text-align: center;
  }

  .hide-niveau{
    display: none;
  }

  p.profil-name{
      font-weight: 900;
      position: relative;
      color: white;
      margin-left: 20px;
      bottom: -10px;
      font-size: x-large;
      text-align: left;
      text-shadow: #000000;
  }

  p.profil-class{
      color: #ef9347;
      text-align: left;
    bottom: 14px;
    position: relative;
      margin-left: 20px;
  }

  .profil-score{
  //  background: #0e86ef;
    background: transparent;
    height: 30px;
    opacity: 0.6;
    position: relative;
    bottom: 10px;
  }

  .profil-score .row{
    background-color: transparent;
    color: white;
  }

  .col{
    color: white;
    text-shadow: white;
    font-size: 8px;
    text-align: center;
  }

  .col .number{
    font-weight: bold;
    font-size: 10px;
    background-color: transparent;
  }


  .col {
    &:first-child:not(:last-child){
      border-right: 1px solid #ffffff;
    }

    &:not(:first-child):not(:last-child){
      border-right: 1px solid #ffffff;
    }
  }

  .segment-md .segment-button{
    text-transform: capitalize;
    color: black;
  }

  .segment-md-dark .segment-button.activated, .segment-md-dark .segment-button.segment-activated{
    border-bottom:  1px solid #0e86ef;
    text-transform: capitalize;
    color:#0e86ef ;
  }

  .profil-identification{
    margin-left: 50px;
    margin-right: 50px;
  }

  .item p{
      color: #98d5eb;
      font-weight: bold;
  }

  .item h3{
      font-size: 12px;
  }

  .profil-identification .icon:before{
      color: #0e86ef;
      font-size: 24px;
  }

  .notification .item p{
    color: black;
    font-size: 12px;
    margin: 2px;
    text-align: left;
    font-weight: 100;
  }

  .notification .item span{
    font-size: 8px;
    color: #0e86ef;
  }

  .notification .icon:before{
    color: #0e86ef;
    font-size: 10px;

  }

  .notification  img{
    height: 40px;
    width: 40px;
  }

  .notification {
    height: 80px;
  }

  .item-md{
    padding-left: 10px;
  }

  .notification .ion-md-trash:before{
    color: white;
    display: inline;
    font-size: 16px;
  }

  span.button-inner{
    text-transform: lowercase;
    font-size: 20px;
  }


}
