<!--
  Generated template for the ModalBadgePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="modal-background">

  <div class="container">


    <img src="{{user.image_data?user.image_data:'assets/img/emoji.png'}}">
    <h3>{{user.username}} </h3>
    <h4>{{ 'STUDENT' | translate }} :  <span *ngIf="classe&&classe.NOM_CLASSE">{{classe.NOM_CLASSE}}</span> <span *ngIf="classe&&classe.OPTION_CLASSE!='NONE'">{{classe.OPTION_CLASSE}}</span></h4>

    <img class="badge-image" src="assets/img/trophy.png">

    <h1>{{ 'CONGRATULATION' | translate }}</h1>

    <p>{{ 'GRADE_UP_MESSAGE' | translate }}</p>

    <h6>{{ 'PROFIL_ALERT' | translate }} : {{level.badge}}</h6>


    <button ion-button large color="#6cebfc" (click)="share()" >
      <ion-icon name="share" item-start></ion-icon>
      {{ 'SHARE' | translate }}
    </button>

  </div>

  <div class="close-modal">
    <button ion-button clear  (click)="close()">
      <ion-icon name="close" item-start></ion-icon>
    </button>
  </div>

</ion-content>
