page-modal-badge {

  .modal-background{
    background-color: rgba(255, 140, 0, 0.5);
  }


  .container{
    background-color: #FFFFFF;
    margin-top: 100px;
  }


  .container h3{
    color: #091233;
    text-align: center;
    margin:0;
    font-size: 18px;
    position: relative;
    top:-20px;
  }

  .container h4{
    color: #808080;
    text-align: center;
    margin:0;
    position: relative;
    font-size: 15px;
    top:-20px;
  }

  .container h1{
    text-align: center;
    color: #ef9347;
    font-weight: bold;
    font-size: large;
  }

  .container h6{
    text-align: center;
    color: #ef9347;
    font-weight: bold;
    font-size: smaller;
  }

  .container p{
    text-align: center;
    margin: 20px;
  }

  img:first-child{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
    position: relative;
    top:-30px;
  }


  .badge-image{
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
  }

  .container button{
    height: 30px;
    display: block;
    margin-top: 20px;
  }


  .container .button-md{
    text-transform: capitalize;
    margin: auto;
    background-color: #ef9347;
    box-shadow: none;
  }


  .close-modal{
    margin-top: 15px;
  }

  .close-modal button{
    height: 40px;
    width: 40px;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    color:#ef9347;

  }

  .close-modal .button-md{
    margin: auto;
    text-transform: capitalize;
    box-shadow: none;
  }

}
