page-my-challenge {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .icon.ion-md-person:before{
    color: #ef9347;
    font-size: 24px;
  }

  .icon.ion-md-add-circle:before{
    color: #ef9347;
    font-size: 24px;
  }


  .icon.ion-md-menu:before{
    color: #ef9347;
    font-size: 24px;
  }

  .icon.ion-md-create:before{
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
  }

  .icon:before{
    color: grey;
    margin-right: 2px;
  }

  span.slogan{
    font-size: large;
    font-weight: bold;
    font-style: italic;
  }

  span.titre{
    color: #ef9347;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    text-transform: capitalize;
  }

  .bar-search .col:first-child:not(:last-child) span{
    margin-left: 50px;
  }

  .searchbar-md .searchbar-search-icon{
    left: calc(100% - 50px);
    background-position: center;
    width: 70px;
    text-align: center;
  }

  .searchbar-md .searchbar-input{
    box-shadow: none;
    background-color: transparent;
    text-align: left;
  }


  .bar-search .button:last-child:not(:first-child){
    top:20px;
    left: calc(100% - 100px);
    background-color: white;
  }

  .searchbar-clear-icon {
    display: none !important;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }


  .cha-footer{
    background-color: #ef9347;
    background: linear-gradient(to top right, #ef9347,#ffb363);
  }

  .cha-button {
    .col{
      margin: 3px;
      height: 30px;
      text-align: center;
      font-size: 10px;
      padding-top: 5px;
      color: #fff;
      &:first-child:not(:last-child){
        background-color: #3d4444;
      }
      &:not(:first-child):not(:last-child){
        background-color: #089bcc;
      }
      &:last-child:not(:first-child){
        background-color: #e27216;
      }
    }

  }

  .cha-item{
    height: 100px;
    .col{
      padding: 0;
      height: 100px;
      &:not(:first-child):not(:last-child){
        margin-left: 5px;
      }
      &:last-child:not(:first-child){

        margin-top: 10%;
        margin-right: calc(100% - 10px);

        ion-icon.icon:before{
          color:#808080 ;
          margin-left: 24px;
          font-size: 18px;
        }
        span#nombre{
          font-size: 10px;
          position: relative;
          top:-8px;
          left:-8px;
          color: #000000 ;
        }
        span:last-child{
          font-size: 12px;
          display: block;
          font-weight: 100;
          color: #000000 ;
        }
      }
      img{
        height: 100px;
        width: 100px;

      }

      h1{
        font-size:16px;
        color: #091233;
        margin: 5px;
      }

      h3{
        font-size: 12px;
        color:#ef9347 ;
        margin: 5px;
      }

      h5{
        font-size: 10px;
        font-weight: 100;
        color: #000000;
        margin: 8px;
      }
    }
  }

  .cha-class{
    .col{
      &:first-child:not(:last-child),&:last-child:not(:first-child){
        font-size: 12px;
        color: #000000;
        font-weight: bold;
      }
    }
  }

  .cha-description{
    .col{
      p{
        font-weight: 300;
      }
    }
  }

}
