page-question-challenge {

  /*Overwriting*/


  /* Design du phone*/

  .logo{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
  }

  .bar-point{
    .col {
          color:#091233;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
    }
  }


  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }


  .message .row:first-child{
    background-color:#f0f0f0;

  }

  .message .row:last-child{
    background-color:#ffffff;
  }


  .card{
    box-shadow: none;
    border-radius: 0;
    background: transparent;
  }

  .card-header {
    padding-bottom: 0;
    height : 165px;
  }

  .message .button{
    align-content: center;
    box-shadow: none;
    width: 75%;
    margin: auto;
  }

  .card-content p{
    margin-top: 0;
    padding-top: 0;
    text-align: justify;
  }

  hr{
    border-top: 0.3px solid  #ef9347;
  }

  .image_fixed{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    height: 100px;
    width: 100px;
  }

  .image_float{
    height: 60px;
    width: 30px;
    display: inline-block;
    margin: 0;
    margin-left: calc(50% + 50px);
    top: -160px;
    position: relative;
  }

  .fab{
    border-radius: 0;
  }



  .slogan-page p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
  }

  .label-moo{
    color: #091233;
    font-weight: bold;
  }

  .label-titre{
    color: #ef9347;
    font-weight: bold;
  }

  .button-group{
    background-color: #ffffff;
  }


  .button-group {
    .col {
      &:first-child:not(:last-child) {
        padding-right: 0;
        .button {
          border-radius: 0;
          background-color: #091233;
          color: #ffffff;
          text-transform: capitalize;
          box-shadow: none;
          border-right: none;
          font-weight: bold;
          font-size: large;
          text-align: center;
        }
      }
      &:last-child:not(:first-child) {
        .button {
          padding-left: 0;
          border-radius: 0;
          box-shadow: none;
          border: 1px solid #eff3f7;
        }

      }
    }
  }




  .emoji img,.score{
    height: 25px;
    width: 25px;
  }


  .emoji{
    text-align: center;
    height: 25px;
  }

  .score{
    text-align: center;
    border : 1px solid  #091233;
    font-size: 8px;
    font-weight: bold;
    margin-top: 5px;
  }

  .score.sad{
    color: red;
  }

  ion-col.bar-score.col{
    height: 62px;
    width: 62px;
    border-radius: 31px;
    background-color: transparent;

  }



  .score.happy{
    color: skyblue;
  }

  .num_question{
    text-align: center;
    border : 1px solid  #091233;
    background-color:  #091233;
    color: #ffffff;
    font-weight: bold;
    font-size: 8px;
    height: 25px;
    padding: auto;
    margin-top: 5px;
  }

  .timer{
    text-align: center;
  }

  .loader-bar{
    background:#488aff !important;
    opacity: 0.3;
    z-index: 1000;
    top: -57px;
    width: 43px;
    position: relative;

  }

  .progress{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: transparent;
  }

  .timer-content{
    height: 48px;
    width: 48px;
    border-radius: 24px;
    font-weight: bold;
    font-size: large;
    color: #FFFFFF;
  }

  .timer-content span{
    position: relative;
    top:-5px;
    left: 3px;
  }


  .propo-layout{
    margin-bottom: 10px;
  }

  .propo-layout .col:first-child{

    background-color: #091233;
    color: #ffffff;
    border: 1px solid #091233;
    font-weight: bold;
    font-size: x-large;
    max-height: 59px;
  }

  .propo-layout  .col:last-child{
    border: 1px solid skyblue;
  }

  .propo-layout-select{
    margin-bottom: 10px;
  }

  .propo-layout-select .col:first-child{
    background-color: #091233;
    color: #ffffff;
    border: 1px solid #091233;
    font-weight: bold;
    font-size: x-large;
    height: 50px;
  }

  .propo-layout-select .col:last-child{
    background-color: #488aff;
  }


  .item-md.item-block .item-inner{
    border-bottom: 0;
  }

  .item-md {
    background: transparent;
  }

  .item-radio-checked.item-md ion-label{
    color: black;
  }

  .radio-md .radio-icon{
    border-style: none;
  }

  /*Design de la tablette*/

  @media screen and (min-width: 600px){

    .logo {
      width: 150px;
      height: 150px;
      display: block;
      margin: auto;
    }


    .card-header {
      padding-bottom: 0;
      height : 200px;
    }

    .image_fixed{
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;
      height: 100px;
      width: 100px;
    }

    .image_float{
      height: 60px;
      width: 30px;
      display: inline-block;
      margin: 0;
      margin-left: calc(50% + 50px);
      top: -160px;
      position: relative;
    }

    .card-content p{
      margin-top: 0;
      padding-top: 0;
      text-align: justify;
      font-size: x-large;
    }


    .button{
      align-content: center;
      box-shadow: none;
      width: 50%;
      margin: auto;
      margin-top: 20px;
    }


    .message .row:last-child{
      background-color:#ffffff;
      height: 300px;
    }

    .fab{
      border-radius: 0;
    }

    .fab .icon:before{
      font-size: 30px;
      font-weight: bold;
    }
  }



}
