<!--
  Generated template for the QuestionRevisionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only ion-button (click)="gotoDash()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{picture_logo}}">
    <div class="slogan-page">
      <p><span class="label-moo">Moo</span> <span class="label-titre">{{ 'CHALLENGES' | translate }}</span></p>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content padding >

  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-grid class="message" *ngIf="slideShow===-1">
    <ion-row>
      <ion-card>
        <ion-card-header>
          <img class="image_fixed"  src="{{picture_revision}}">
          <img class="image_float"  src="{{picture_light}}">
        </ion-card-header>
        <hr>
        <ion-card-content>
          <p>{{ 'DESCRIPTION_REVISION' | translate }}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row >
      <ion-card *ngIf="serveurReponse">
        <button *ngIf="questionnaires.length>0" color="oranged" (click)="begin()"  ion-button full>{{'BEGIN' | translate}}</button>
        <button *ngIf="questionnaires.length==0" color="oranged" (click)="getQuestions()"  ion-button full>{{'REFRESH' | translate}}</button>
      </ion-card>
    </ion-row>
  </ion-grid>


  <div *ngFor="let question of questionnaires">

    <ion-grid class="button-group" *ngIf="slideShow===questionnaires.indexOf(question)">

        <ion-row class="bar-point">
            <ion-col>
               {{'TOTAL_POINTS' | translate }} : {{score.points}}
          </ion-col>
        </ion-row>
      <ion-row class="bar-score">
        <ion-col col-2></ion-col>
        <ion-col class="emoji" col-2>
          <img src="assets/img/sad_sm.png">
        </ion-col>

        <ion-col class="score sad" col-1>
          {{score.failed}}
        </ion-col>
        <ion-col class="num_question"  col-2>
          Q{{questionnaires.indexOf(question)+1}}
        </ion-col>
        <ion-col  class="score happy" col-1>
          {{score.success}}
        </ion-col>

        <ion-col  class="emoji" col-2>
          <img src="assets/img/happy_sm.png">
        </ion-col>
        <ion-col  class="bar-score"  col-2>
          <div class="progress" [ngStyle]="{'border':'2px solid '+answersTimer[timerPosition].background}">
            <div class="timer-content" [ngStyle]="{'background-color':answersTimer[timerPosition].border}" padding>
              <span>{{answersTimer[timerPosition].value}}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-list *ngIf="question" radio-group [(ngModel)]="questionnaires[questionnaires.indexOf(question)].value">
        <ion-row *ngIf="question.intitule">
          <ion-col col-12 >
            <p text-wrap [innerHTML]="format(question.intitule)"></p>
            <hr>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="question.images">
          <ion-col col-12 *ngFor="let image of question.images">
            <img src="{{url}}{{image.url}}">
          </ion-col>
        </ion-row>

        <div *ngIf="question.possibilites">
          <ion-grid>
            <ion-row  [ngClass]="{'propo-layout':questionnaires[questionnaires.indexOf(question)].value!=possibilite.id,'propo-layout-select':questionnaires[questionnaires.indexOf(question)].value==possibilite.id}" *ngFor="let possibilite of question.possibilites">
              <ion-col nowrap col-2  text-center>
                {{labels[question.possibilites.indexOf(possibilite)]}}
              </ion-col>
              <ion-col col-10>
                <ion-item text-wrap *ngIf="possibilite.INTITULE_POSSIBILITE">
                  <ion-label  [innerHTML]="format(possibilite.INTITULE_POSSIBILITE)"></ion-label>
                  <ion-radio checked="false" disabled="{{confirmAnswer[questionnaires.indexOf(question)]}}" (ionSelect)="selectProposition(questionnaires.indexOf(question),possibilite.id)" value="{{possibilite.id}}"></ion-radio>
                </ion-item>
                <ion-item *ngIf="possibilite.image">
                  <img src="{{url}}{{possibilite.image}}">
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ion-row>
          <ion-col col-12 >
            <hr>
           <!-- <button  color="oranged" (click)="next(questionnaires.indexOf(question))" *ngIf="confirmAnswer[questionnaires.indexOf(question)]" ion-button full>{{'NEXT' | translate}}</button>-->
            <button  color="oranged" (click)="confirm(questionnaires.indexOf(question))" *ngIf="!confirmAnswer[questionnaires.indexOf(question)]&&questionnaires[questionnaires.indexOf(question)].choix"  ion-button full>{{'CONFIRMATION' | translate}}</button>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-grid>
  </div>

</ion-content>

