page-challenge-option {

  span.slogan{
    font-size: large;
    font-weight: bold;
    font-style: italic;
  }

  span.titre{
    color: #ef9347;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    text-transform: capitalize;
  }

}
