<!--
  Generated template for the ChallengeOptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><span class="slogan">MooExams</span><span class="titre">{{ 'CHALLENGES' | translate }}</span></ion-title>
    <ion-buttons end>
      <button color="oranged" (tap)="goProfile()" icon-only ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
