<!--
  Generated template for the ResultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only ion-button (click)="gotoProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{picture_logo}}">
    <div class="slogan-page">
      <p><span class="label-moo">Moo</span> <span class="label-titre">{{ 'TRAINING' | translate }}</span></p>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-grid class="grid-bac">

    <ion-row>
      <ion-col col-12>
        <p>{{ 'TUTORIAL_SLIDE4_DESCRIPTION' | translate }}</p>
        <hr>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-card class="fisrt-card">
          <ion-card-header >
            <h3>{{'RESULT_TEXTE_1' | translate}}</h3>
          </ion-card-header>
          <ion-card-content >
            <p>{{resultats.nbreQuestion}}/{{resultats.nbreQuestion}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="second-card">
          <ion-card-header>
            <h3>{{'RESULT_TEXTE_2' | translate}}</h3>
          </ion-card-header>
          <ion-card-content >
            <p>{{resultats.nbrePoints}}/{{resultats.nbreQuestion*5}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-card class="third-card">
          <ion-card-header>
            <h3>{{'RESULT_TEXTE_3' | translate}}</h3>
          </ion-card-header>
          <ion-card-content padding>
            <img src="assets/img/sad_sm.png">
            <p>{{resultats.mauvaise_reponse}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="fourth-card">
          <ion-card-header>
            <h3>{{'RESULT_TEXTE_4' | translate}}</h3>
          </ion-card-header>
          <ion-card-content padding>
            <img src="assets/img/happy_sm.png">
            <p>{{resultats.bonne_reponse}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr>

  <ion-list padding  no-lines>
    <ion-segment [(ngModel)]="choix" color="dark">
      <ion-segment-button value="recapitulatif" (ionSelect)="GotoRecap('recapitulatif')">
        {{'RESULT_TEXTE_5' | translate}}
      </ion-segment-button>
      <ion-segment-button value="continuer"  (ionSelect)="GotoPrev('continuer')">
        {{'TUTORIAL_CONTINUE_BUTTON' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-list>

</ion-content>
