<!--
  Generated template for the TimeTablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header #head>
  <ion-navbar color="dak-blue">
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only clear (click)="goProfile()" ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <p class="sub-title">{{ 'TIMETABLE_TITLE' | translate }}</p>
  </ion-toolbar>
  </ion-header>

<ion-content  hide-header [header]="head">

  <ion-refresher (ionRefresh)="listTimeTable(true,$event)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>

   <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <!--Days grid-->
  <ion-card>
    <ion-item class="day-bar" text-wrap>
      <ion-thumbnail item-start>
        <img src="assets/img/icon-agenda.png">
      </ion-thumbnail>
      <h2> {{ 'TIMETABLE_FISRT_TITLE' | translate }}</h2>
      <ion-icon name="{{showDaysCard?'ios-arrow-up':'ios-arrow-down'}}" item-end (click)="hideShowDaysCard()"></ion-icon>
    </ion-item>
    <ion-grid *ngIf="showDaysCard">
      <!--first row-->
      <ion-row>
        <ion-col col-2 col-md-1>
          <ion-radio  checked="{{selectDays}}"  (ionSelect)="dayOption('all')" item-start></ion-radio>
        </ion-col>

        <ion-col col-4 col-md-3>
          <span>{{ 'TIMETABLE_MESSAGE_1' | translate }}</span>
        </ion-col>
        <ion-col col-3 col-md-4>
          <button ion-button (click)="selectDay(0)" [ngClass]="{'button-selected':daysOfWeek[0].choix,'button-not-selected':!daysOfWeek[0].choix}">{{ 'DAYS1' | translate  }}</button>
        </ion-col>
        <ion-col  col-3 col-md-4>
          <button ion-button (click)="selectDay(1)" [ngClass]="{'button-selected':daysOfWeek[1].choix,'button-not-selected':!daysOfWeek[1].choix}">{{ 'DAYS2' | translate  }}</button>
        </ion-col>
      </ion-row>

      <!--second row-->
      <ion-row>
        <ion-col  col-2 col-md-1>
          <ion-radio checked="{{unselectDays}}"  (ionSelect)="dayOption('none')" item-start></ion-radio>
        </ion-col>
        <ion-col  col-4 col-md-3>
          <span>{{ 'TIMETABLE_MESSAGE_2' | translate }}</span>
        </ion-col>
        <ion-col  col-3 col-md-4>
          <button ion-button (click)="selectDay(2)" [ngClass]="{'button-selected':daysOfWeek[2].choix,'button-not-selected':!daysOfWeek[2].choix}">{{ 'DAYS3' | translate  }}</button>
        </ion-col>
        <ion-col  col-3 col-md-4>
          <button ion-button (click)="selectDay(3)" [ngClass]="{'button-selected':daysOfWeek[3].choix,'button-not-selected':!daysOfWeek[3].choix}">{{ 'DAYS4' | translate  }}</button>
        </ion-col>
      </ion-row>

      <!--third row-->
      <ion-row>
        <ion-col  col-2 col-md-1>
          <ion-radio checked="{{repeatDay}}"   (ionSelect)="repeatDays()" item-start></ion-radio>
        </ion-col>
        <ion-col  col-4 col-md-3>
          <span>{{ 'TIMETABLE_MESSAGE_3' | translate }}</span>
        </ion-col>
        <ion-col  col-3 col-md-4>
          <button ion-button (click)="selectDay(4)" [ngClass]="{'button-selected':daysOfWeek[4].choix,'button-not-selected':!daysOfWeek[4].choix}">{{ 'DAYS5' | translate  }}</button>
        </ion-col>
        <ion-col  col-3 col-md-4>
          <button ion-button (click)="selectDay(5)" [ngClass]="{'button-selected':daysOfWeek[5].choix,'button-not-selected':!daysOfWeek[5].choix}">{{ 'DAYS6' | translate  }}</button>
        </ion-col>
      </ion-row>
      <!--fourth row-->

      <ion-row>
        <ion-col  col-9 col-md-8></ion-col>
        <ion-col  col-3 col-md-4>
          <button ion-button (click)="selectDay(6)" [ngClass]="{'button-selected':daysOfWeek[6].choix,'button-not-selected':!daysOfWeek[6].choix}">{{ 'DAYS7' | translate  }}</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>


  <!--Time grid-->
  <ion-card>
    <ion-item class="time-bar" text-wrap>
      <ion-thumbnail item-start>
        <img src="assets/img/remainder.png">
      </ion-thumbnail>
      <h2> {{ 'TIMETABLE_SEGOND_TITLE' | translate }}</h2>
      <ion-icon name="{{showTimeCard ?'ios-arrow-up' : 'ios-arrow-down'}}" item-end (click)="hideShowTimeCard()"></ion-icon>
    </ion-item>
    <ion-grid *ngIf="showTimeCard">
      <!--first row-->
      <ion-row>

        <!--Option column-->
        <ion-col>
          <ion-row>
            <ion-col col-2 col-md-1>
              <ion-radio  checked="{{sameTime}}"  (ionSelect)="timeOption('same')" item-start></ion-radio>
            </ion-col>

            <ion-col col-10 col-md-11>
              <span>{{ 'TIMETABLE_MESSAGE_4' | translate }}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col  col-2 col-md-1>
              <ion-radio checked="{{distinctTime}}" (ionSelect)="timeOption('distinct')" item-start></ion-radio>
            </ion-col>
            <ion-col  col-10 col-md-11>
              <span>{{ 'TIMETABLE_MESSAGE_5' | translate }}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col  col-2 col-md-1>
              <ion-radio checked="{{repeatTime}}"  (ionSelect)="repeatTimes()" item-start></ion-radio>
            </ion-col>
            <ion-col  col-10 col-md-11>
              <span>{{ 'TIMETABLE_MESSAGE_6' | translate }}</span>
            </ion-col>

          </ion-row>
        </ion-col>

        <!--Time column-->
        <ion-col>
          <div *ngFor="let day of daysOfWeek">
            <p class="days" *ngIf="day.active===1">{{day.title}}</p>
            <div class="time-button" *ngIf="day.active===1" (click)="showClock(day,daysOfWeek)">
              <ion-row>
                <ion-col class="time" col-2>h</ion-col>
                <ion-col class="time-content"col-3>{{day.heure}}</ion-col>
                <ion-col class="separation" col-2><hr></ion-col>
                <ion-col class="time" col-2>m</ion-col>
                <ion-col class="time-content" col-3>{{day.minute}}</ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-list padding no-lines *ngIf="!canUpated">
    <ion-item>
      <button color="oranged" [disabled]="timeChecked"  ion-button full (click)="add()">{{ 'SAVE' | translate}}</button>
    </ion-item>
  </ion-list>

  <ion-list padding no-lines *ngIf="canUpated">
    <ion-item>
      <button color="oranged" [disabled]="timeChecked"  ion-button full (click)="updated()">{{ 'UPDATED' | translate}}</button>
    </ion-item>
  </ion-list>
</ion-content>
