page-time-table {


  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .logo{
      width:50px;
      height: 50px;
      display: block;
      margin: auto;
  }

  .item h2{
    font-size:large;
    color: white;
    font-weight: bold;
  }

  .day-bar.item{
    background-color: #488aff;
  }

  .time-bar.item{
    background-color: #091233;
  }

  .ion-ios-arrow-up:before{
    color: gainsboro;
    position: relative;
    bottom: -25px;
  }

  .ion-md-person:before{
    font-size: 24px;
  }

  .ion-ios-arrow-down:before{
    color: gainsboro;
    position: relative;
    bottom: -25px;
  }

  .sub-title {
    text-align: center;
    color: #ef9347;
    font-weight: bold;
    font-size: large;
    margin-top: 1px;
  }

  .col.item{
    font-size: 8px;
  }

  .item{
    background-color: transparent;
  }

  .button-not-selected{
    font-size: 9px;
    color: gray;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    width:70px;
  }

  .button-selected{
    font-size: 9px;
    color: white;
    background-color: #0e86ef;
    box-shadow: none;
    width:70px;
  }



  .button-inner{
    text-align: left;
    font-size: 8px;
  }


  /*radio style*/

  .radio-md .radio-icon{
    border-radius: 0;
    border-color: white;
  }

  .grid{
    background-color: #dce4ea;
  }

  .item h3{
    color: black;
  }

  .col span{
    font-size:10px;
    margin-left:0;
    }


  //time design

  .time-button .row .col{
    border: 1px solid white;
    box-shadow: none;
  }

  .time-button .col.separation{
    border-bottom: 0;
    border-top: 0;
    padding-left: 0;
    padding-right: 0;
  }


  hr{
    border-bottom: 1px solid white;
  }

  .time-button .col.time{
    background-color: #091233;
    color: white;
    text-align: center;
  }

  .time-button .col.time-content{
    text-align: center;
    color: #091233;
    font-weight: bold;

  }

  .days{
    color:#ffffff;
    font-size: large;
    font-weight: bold;
  }

  //Design adapte au tablette
  @media screen and (min-width:600px){

    .logo{

        width: 100px;
        height: 100px;
        display: block;
        margin: auto;

    }


  }

}
