<!--
  Generated template for the ModalSuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="modal-background">

  <div class="container">

    <img src="assets/img/happy_big.png">
    <p class="titre" text-center>{{ 'GOOD_ANSWER' | translate }}</p>


    <p class="explication" text-wrap *ngIf="questions&&questions.commentaire_reponse" [innerHTML]="format(questions.commentaire_reponse)">
    </p>

    <img  *ngIf="questions&&questions.image_commentaire" src="{{url}}{{questions.image_commentaire}}">

    <button [disabled]="!activeButton" ion-button large color="#6cebfc" (click)="close()" >{{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}</button>

  </div>

</ion-content>
