page-modal-failed {

  .modal-background{
    background-color: rgba(0, 0, 30, 0.5);
  }

  .titre{
    color: #f53d3d;
    font-size: large;
    font-weight: bold;
    margin: 0;
  }

  .explication{
    border: 1px solid #a5e7ff;
    background-color:#f4f4f4 ;
    margin: 10px;
    padding: 10px;
    text-align: justify;
  }

  .container{

    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

  }

  .container img{
    display: block;
    height: 100px ;
    width: 100px;
    margin: auto;
  }

  .container button{
    height: 30px;
    display: block;
    margin-top: 50px;
  }

  .button-md{
    text-transform: capitalize;
    margin: auto;
    background-color: #f53d3d;
    box-shadow: none;

  }

  @media screen and (min-width: 600px){

    .modal-background{
      background-color:transparent;
      border: none;
    }

    .container{

      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: #FFFFFF;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
  
    }

    .explication{
      font-size: 24px;
    }
    
  }

}
