<!--
  Generated template for the ModalFailedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="modal-background">


  <div class="container">

      <img src="assets/img/sad_big.png">

      <p class="titre" text-center>{{ 'WRONG_ANSWER' | translate }}</p>

      <p class="explication"  text-center text-wrap *ngIf="questions&&questions.commentaire_reponse" [innerHTML]="format(questions.commentaire_reponse)">
      </p>

      <img  *ngIf="questions&&questions.image_commentaire" src="{{url}}{{questions.image_commentaire}}">

      <button ion-button large [disabled]="!activeButton"  color="#f53d3d" (click)="close()" >{{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}</button>

  </div>


</ion-content>