<!--
  Generated template for the ModalConcoursPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="modal-background">

    <div class="container">
  
      <img src="{{user&&user.image_data?user.image_data:'assets/img/emoji.png'}}">
      <h3 *ngIf="user">{{user.username}} </h3>
      <h4>{{ 'STUDENT' | translate }} :  <span *ngIf="classe&&classe.NOM_CLASSE">{{classe.NOM_CLASSE}}</span> <span *ngIf="classe&&classe.OPTION_CLASSE!='NONE'">{{classe.OPTION_CLASSE}}</span></h4>
  
      <img *ngIf="success==failed" class="badge-image" src="assets/img/happy_big.png">
      <img *ngIf="success < failed" class="badge-image" src="assets/img/sad_big.png">
      <img *ngIf="success > failed" class="badge-image" src="assets/img/trophy.png">
  
      <h1 *ngIf="success >= failed" >{{ 'CONGRATULATION' | translate }}</h1>

      <h1 *ngIf="success < failed" >{{ 'DESOLE_MESSAGE' | translate }}</h1>
  
      <p><strong>{{ 'CONCOURS_GOOD_ANSWER' | translate }}</strong>   :  {{success}}</p>

      <p><strong>{{ 'CONCOURS_WRONG_ANSWER' | translate }} </strong>  :  {{failed}}</p>
  
      <h6>{{ 'TOTAL_POINTS' | translate }}  :  {{points}}</h6>

      <p>{{'CONCOURS_SCORE_MESSAGE' | translate  }}</p>
  
  
      <button ion-button large color="#6cebfc" (click)="share()" >
        <ion-icon name="share" item-start></ion-icon>
        {{ 'SHARE' | translate }}
      </button>
  
    </div>
  
    <div class="close-modal">
      <button ion-button clear  (click)="close()">
        <ion-icon name="close" item-start></ion-icon>
      </button>
    </div>
  
  </ion-content>
