<!--
  Generated template for the ModalMessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="modal-background">

  <div class="message" padding>
    <p text-justify text-wrap>{{message}}</p>
  </div>

  <div class="button-image"  >
    <button ion-button color="dark-red" clear icon-only  (click)="close($event)">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>

</ion-content>
