page-modal-message {

  .message{
    margin-top: 150px;
    margin-right:15px;
    margin-left:15px;
    background-color: white;
  }

  .modal-background{
    background-color: rgba(0, 0, 100, 0.5);
  }

  .button-image{
    background-color: white;
    opacity: 0.4;
    text-align: center;
    width: 50px;
    height: 50px;
    display: block;
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
  }

}
