page-termes {

  h1{
    font-weight: bold;
    color: black;
    font-size: 20px;
  }

  h2{
    font-weight: 400;
    color: #488aff;
    font-size:16px;
  }

  p{
    text-align: justify;
  }

  .title-toolbar{
    text-align: center;
    font-weight: bold;
  }


  .toolbar-background {
    background:#0e86ef;
    background: linear-gradient(to top right, #0e86ef,#f4ffff);
  }

}
