page-home {


  .sub-title{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 1px;
  }

  .sub-title span:first-child{
    color:#091233;
  }

  .sub-title span:last-child{
    color:#ef9347;
  }

  .ion-md-close:before {
    font-weight: bold;
  }


  ion-label{
    color: white;
  }

  .badge{
      color: #ef9347;
      background-color: transparent;
      position: relative;
      top:-10px;
      left: -10px;
  }


  .item-footer{
    bottom: 0;
    margin-top: 130px;
    margin-right: 20px;
  }

  .speudo-icon{

    height: 35px;
    width:  22px;
  }

  .logo{
    width:50px;
    height: 50px;
    display: block;
    margin: auto;
  }

  ion-card-header{
   // border: 1px solid #eff3f7;
  }

  .menu-moo{
    background-color: #eff3f7;
  }

  .grid-bac{
    background-color: #ffffff;
  }


  .card-md h3{
    font-weight: bold;
    font-size: 10px;
    //color: #ffffff;
    color:#091233;
    text-align: center;
    padding-top: 3px;
  }

  .card {
    box-shadow: none;
    border: 1px solid #eff3f7;
  }

  .card-md  p {
    font-size: 10px;
    color: #000000;
    text-align: center;
    opacity: 0.4;
  }

  .fisrt-card{
    //background-color: #6cebfc;
    background-color: #ffffff;
  }

  .second-card{
    //background-color: #f9d654;
    background-color: #ffffff;
  }
  .third-card{

   // background-color: #fc92be;
    background-color: #ffffff;
  }

  .fourth-card{
    //background-color: #9efc8f;
    background-color: #ffffff;
  }

  .five-card{
    //background-color: #0e86ef;
    background-color: #ffffff;
  }

  .sixth-card{
    //background-color: #d66c1b;
    background-color: #ffffff;
  }

  //Design adapte au tablette
  @media screen and (min-width:600px){


    .logo{
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }

    .item-footer{
      bottom: 0;
      margin-top: 750px;
      margin-right: 30px;
    }

    .card {
      width: 80%;
    }


    .speudo-icon{
      height: 30%;
      width: 30%;
    }

    .grid-bac{
      margin-top: 10px;

      .row{
        .col{
            margin-left: 2%;
            margin-right: 2%;
        }
      }
    }

    .card-md h3,.card-ios  h3{
      font-size: 24px;
      padding-top: 5px;
    }

    .card-ios  p,.card-md  p {
      font-size: 20px;
    }

  }
}
