<ion-header>
  <ion-navbar   color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only (click)="goProfile()" ion-button>
        <ion-icon name="person"></ion-icon>
        <ion-badge>{{nbreInvitations||0}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <p class="sub-title"><span>Moo</span> <span> {{user}} </span></p>
  </ion-toolbar>
</ion-header>

<ion-content padding class="menu-moo">

  <ion-grid class="grid-bac">
      <ion-row nowrap>
          <ion-col col-6>
              <ion-card  (click)="training()">
                <ion-card-header>
                  <img src="assets/img/revision.png">
                </ion-card-header>
                <ion-card-content class="fisrt-card">
                  <h3>{{'HOME_OPTION1' | translate}}</h3>
                  <p>{{ 'DESCRIPTION_OPTION1' | translate }}</p>
                </ion-card-content>
              </ion-card>
          </ion-col>
            <ion-col col-6>
                <ion-card (click)="jeuconcours()">
                  <ion-card-header>
                    <img src="assets/img/genius_logo.png">
                  </ion-card-header>
                  <ion-card-content class="sixth-card">
                    <h3>{{'HOME_OPTION11' | translate}}</h3>
                    <p>{{ 'DESCRIPTION_OPTION12' | translate }}</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
    </ion-row>

    <ion-row nowrap>

        <ion-col col-6>
            <ion-card (click)="exam()">
              <ion-card-header>
                <img src="assets/img/examen.png">
              </ion-card-header>
    
              <ion-card-content class="third-card">
                <h3>{{'HOME_OPTION3' | translate}}</h3>
                <p>{{ 'DESCRIPTION_OPTION3' | translate }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-6>
                <ion-card (click)="forum()">
                  <ion-card-header>
                    <img src="assets/img/forum-sm.png">
                  </ion-card-header>
        
                  <ion-card-content class="five-card">
                    <h3>{{'HOME_OPTION5' | translate}}</h3>
                    <p>{{ 'DESCRIPTION_OPTION5' | translate }}</p>
                  </ion-card-content>
                </ion-card>
          </ion-col>
    </ion-row>
    <ion-row nowrap>
      <ion-col col-6>
          <ion-card (click)="leaderBoard()">
            <ion-card-header>
              <img src="assets/img/mes-notes.png">
            </ion-card-header>
            <ion-card-content class="fourth-card">
              <h3>{{'HOME_OPTION4' | translate}}</h3>
              <p>{{ 'DESCRIPTION_OPTION4' | translate }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
            <ion-card (click)="challenges()">
              <ion-card-header>
                <img src="assets/img/challenge.png">
              </ion-card-header>
              <ion-card-content class="sixth-card">
                <h3>{{'HOME_OPTION10' | translate}}</h3>
                <p>{{ 'DESCRIPTION_OPTION10' | translate }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
    </ion-row>
    <ion-row nowrap>
        <ion-col col-6>
            <ion-card (click)="timeTable()">
              <ion-card-header>
                <img src="assets/img/emploi-temps.png">
              </ion-card-header>
              <ion-card-content class="second-card">
                <h3>{{'HOME_OPTION2' | translate}}</h3>
                <p>{{ 'DESCRIPTION_OPTION2' | translate }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>

<!--<div class="menu-gauche" *ngIf="menuModal">

  <ion-list inset>
    <ion-item  text-wrap>
        <ion-icon color="light" name="share" (click)="itemshare()" item-start></ion-icon>
      Partager sur Facebook
    </ion-item>
    <ion-item >
      <ion-icon color="light" name="people" (click)="itemPeople()" item-start></ion-icon>
      Inviter des amis
    </ion-item>
    <ion-item >
      <ion-icon  color="light" name="send" (click)="itemSend()" item-start></ion-icon>
      Nous contacter
    </ion-item>
    <ion-item >
      <ion-icon color="light" name="document" (click)="itemDocument()" item-start></ion-icon>
      Mentions légales
    </ion-item>
  </ion-list> 

  <ion-list>
    <ion-item>
    </ion-item>
    <ion-item>
      <h3 align="center">NOS AUTRES PRODUITS</h3>
    </ion-item>
  </ion-list>
  <ion-item class="item-footer" no-lines>
    <ion-icon  color="light" name="close" (click)="itemClose()" item-end></ion-icon>
  </ion-item>
</div>-->
