<!--
  Generated template for the HomeParentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only (click)="goProfile()" ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <p class="sub-title"><span>Moo </span> <span> {{ 'SUIVI' | translate }}</span></p>
  </ion-toolbar>
</ion-header>

<ion-content padding class="menu-moo">

  <ion-grid class="grid-bac">
    <ion-row nowrap>
      <ion-col col-6>
        <ion-card  (click)="accounts()">
          <ion-card-header>
            <img src="assets/img/g-compte.png">
          </ion-card-header>
          <ion-card-content class="fisrt-card">
            <h3>{{'HOME_OPTION6' | translate}}</h3>
            <p>{{ 'DESCRIPTION_OPTION6' | translate }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card (click)="alertSetting()">
          <ion-card-header>
            <img src="assets/img/emploi-temps.png">
          </ion-card-header>
          <ion-card-content class="second-card">
            <h3>{{'HOME_OPTION9' | translate}}</h3>
            <p>{{ 'DESCRIPTION_OPTION9' | translate }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>

      <ion-col col-6>
        <ion-card (click)="forum()">
          <ion-card-header>
            <img src="assets/img/forum-sm.png">
          </ion-card-header>

          <ion-card-content class="five-card">
            <h3>{{'HOME_OPTION5' | translate}}</h3>
            <p>{{ 'DESCRIPTION_OPTION5' | translate }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6 *ngIf="user&&user.role_id==6">
        <ion-card (click)="myCourse()">
          <ion-card-header>
            <img src="assets/img/revision.png">
          </ion-card-header>
          <ion-card-content class="fourth-card">
            <h3 text-uppercase>{{'MY_COURSES' | translate}}</h3>
            <p>{{ 'DESCRIPTION_OPTION11' | translate }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
