<!--
  Generated template for the FeedbacksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ 'FEEDBACKS' | translate }}</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only (click)="goProfile()" ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue"></ion-toolbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="feedbackForm" >

    <ion-list no-lines>

      <ion-item padding-bottom>
        <ion-label color="dark" stacked>
          {{'USERNAME' | translate }}
        </ion-label>
        <ion-input type="text" formControlName="username" placeholder="{{ 'PLACEHOLDER_MESSAGE' | translate }}"></ion-input>
      </ion-item>

      <ion-item padding-bottom>
        <ion-label color="dark"  stacked>
          {{'ADVISE' | translate }}
        </ion-label>
        <ion-textarea #texte rows="3" (change)="resize()" (keyup)="resize()" formControlName="suggestions" placeholder="{{ 'PLACEHOLDER_MESSAGE' | translate }}"></ion-textarea>
      </ion-item>

      <ion-item padding-bottom>
        <ion-label color="dark"  stacked>
          {{'BUG' | translate }}
        </ion-label>
        <ion-textarea #texte rows="3" (change)="resize()" (keyup)="resize()" formControlName="appreciations" placeholder="{{ 'PLACEHOLDER_MESSAGE' | translate }}"></ion-textarea>
      </ion-item>

      <ion-item padding-bottom >
          {{'EVALUATION' | translate }}
        <rating formControlName="note" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)"></rating>
      </ion-item>
    </ion-list>

  </form>

</ion-content>
<ion-footer class="button-footer">
  <button ion-button color="white" [disabled]="feedbackForm.invalid" clear (click)="sendEmail(feedbackForm.value)" full>{{ 'SEND' | translate }}</button>
</ion-footer>