page-feedbacks {

  ion-label{
    color: #091233;
  }

  .button-footer{
    background-color: #488aff;
    background: linear-gradient(to top right, #0e86ef,#f4ffff);
  }

  .item-input ion-input{
    border: 1px solid #ef9347;
    margin: 5px;
    padding: 5px;
  }

  .item-input ion-textarea{
    border: 1px solid #ef9347;
  }

  .list-md .item-input:last-child {
    border-bottom: 0;
  }

  ul {
    padding: 0;

    &.rating li {
      padding: 5px 2px !important;
      background: none;
      color: #ef9347;

      ion-icon {
        font-size: 30px;
      }
    }
  }

}
