<!--
  Generated template for the ModalMatieresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="light" icon-only ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="light-blue">
    <ion-buttons color="oranged" ion-button clear end>
      {{ 'SELECT_COURSE' |translate }}
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>


  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list radio-group *ngIf="serveurReponse&&listMatiere&&listMatiere.length>0" no-lines>
    <ion-row class="course" [ngStyle]="{'background-color':backgroundColors[i%4]}"  *ngFor="let item of listMatiere;let i=index" nowrap>
      <ion-col col-2 col-md-1>
       {{item.NOM_MATIERE.substring(0,2)}}
      </ion-col>
      <ion-col col-10 col-md-11>
        <ion-item [ngStyle]="{'background-color':backgroundColors[i%4]}">
          <ion-label text-uppercase>{{item.NOM_MATIERE}}</ion-label>
          <ion-radio checked="false" (click)="getChoix(item)" value="{{item.id}}"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list  *ngIf="serveurReponse&&listMatiere&&listMatiere.length==0" padding-top>
    <ion-item text-wrap>
      <p text-justify> {{ 'MESSAGE_EMPTY_LIST_COURSES' | translate }} </p>
    </ion-item>
  </ion-list>

</ion-content>
