page-forum {

  span.slogan{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
  }

  span.titre{
    color: #42b9f4;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    text-transform: capitalize;
  }

  .forum-user .col{
    font-size: 8px;
  }

  .button-inner{
    text-transform: capitalize;
    font-size: 10px;
    font-weight: bold;
    width: 60px;
  }


  .fab{
    border-radius: 0;
    box-shadow: none;
    width:60px;
    height: 40px;
  }

  .fab[button]{
    padding: 0;
  }

  .fab .icon:before{
    color: white;
  }



  .forum-user .col:first-child{
    color: #000000;
    text-transform: capitalize;
    font-size: 9px;
    font-weight: bold;
  }

  .forum-user .col:last-child{
    color: #8e9093;
    text-transform: capitalize;
    text-align: right;
  }

  .forum-user .col:not(:first-child):not(:last-child){
    color: #8e9093;
    text-transform: capitalize;
  }

  .item-md  p{
    font-size: 1rem;
    text-align: justify;
  }

  .forum-tab .col{
    font-size: 8px;
  }

  .forum-tab .col:last-child{
    color: #ef9347;
    font-size: 9px;
    text-transform: capitalize;
    text-align: right;
  }

  .item.item-md{
    border-bottom: 1px solid #ef9347;
  }

  .icon:before{
    color: grey;
    margin-right: 2px;
  }

  .icon{
    color: #8e9093;
  }

  .icon.ion-md-person:before{
    color: #ef9347;
    font-size: 24px;
  }

  hr{
    border-bottom: 1px solid #ef9347;
    margin-left: 55px;
  }

  .bar-search .col:first-child:not(:last-child) span{
    margin-left: 50px;
  }

  .searchbar-md .searchbar-search-icon{
    left: calc(100% - 50px);
    background-position: center;
    width: 70px;
    text-align: center;
  }

  .searchbar-md .searchbar-input{
    box-shadow: none;
    background-color: transparent;
    text-align: left;
  }


  .bar-search .button:last-child:not(:first-child){
    top:20px;
    left: calc(100% - 100px);
    background-color: white;
  }

  .searchbar-clear-icon {
    display: none !important;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }


  //Design adapte au tablette
  @media screen and (min-width:600px){

  }

}
