<!--
  Generated template for the ForumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <ion-navbar color="dak-blue">
    <ion-title><span class="slogan">MooExams</span><span class="titre">{{ 'FORUM' | translate }}</span></ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="goProfile()" icon-only ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="!showFilter"  color="white" >
    <ion-buttons end>
      <button (click)="setFilter()" color="oranged" ion-button outline> {{ 'FILTER' | translate }}</button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar padding *ngIf="showFilter" class="bar-search" color="#808080">
    <ion-row>
      <ion-col col-10>
        <span *ngIf="!testRadioResult">{{ 'FORUM_FILTER_MESSAGE' | translate }}</span>
        <span *ngIf="testRadioResult">{{testRadioResult}}</span>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear (click)="radioList()">
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <hr>
    <ion-searchbar [showCancelButton]="false" [(ngModel)]="pattern" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

    <button (click)="hideFilter()" color="oranged" ion-button outline> {{ 'FILTER' | translate }}</button>
  </ion-toolbar>
</ion-header>

<ion-content>


    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
    
      <div *ngIf="!serveurReponse" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>

  <ion-refresher (ionRefresh)="listPost($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item *ngFor="let post of posts" (click)="showpostComments(post)">
      <ion-grid>
        <ion-row>
          <ion-col col-2 *ngIf="post">
            <img src="{{getUserInfos(post.user_id,users).image_data?getUserInfos(post.user_id,users).image_data:'assets/img/emoji.png'}}" style="width: 50px;height: 50px">
          </ion-col>
          <ion-col col-10 *ngIf="post">
            <ion-row class="forum-user" nowrap>
              <ion-col col-4>{{getUserInfos(post.user_id,users).username}} </ion-col>
              <ion-col col-4 *ngIf="!classes[post.user_id]">| {{getUserInfos(post.user_id,users).role_id==5? statut[0]:statut[1]}}</ion-col>
              <ion-col col-4 *ngIf="classes[post.user_id]">| {{classes[post.user_id].NOM_CLASSE}}  <span *ngIf="classes[post.user_id].OPTION_CLASSE!='NONE'">{{classes[post.user_id].OPTION_CLASSE}}</span></ion-col>
              <ion-col col-4>{{formatDatePost(post.created_at)}}</ion-col>
            </ion-row>

            <ion-row class="forum-info" *ngIf="post">
              <ion-col col-12>
                <p text-wrap>{{post.summary}}</p>
              </ion-col>
            </ion-row>

            <ion-row class="forum-tab" *ngIf="post" nowrap>
              <ion-col col-2><ion-icon name="eye">{{post.nb_vues || 0}}</ion-icon></ion-col>
              <ion-col col-2><ion-icon name="heart">{{post.nb_likes || 0 }}</ion-icon></ion-col>
              <ion-col col-2><ion-icon name="chatbubbles">{{commentaires[post.id].length || 0 }}</ion-icon></ion-col>
              <ion-col col-6>{{getCourse(post.matiere_id,matieres)}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="serveurReponse&&posts.length==0" padding>
    <ion-item text-wrap>
      <p text-center>{{ 'FORUM_EMPTY_MESSAGE' | translate }}</p>
    </ion-item>
  </ion-list>


  <ion-fab right bottom>
    <button  ion-fab  color="sky-blue" (click)="addPost()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>

</ion-content>
