<!--
  Generated template for the ReportsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only (click)="goProfile()" ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="light">
    <ion-buttons  *ngIf="mode=='examen'" end>
      <button  color="oranged" (click)="switchMode('revision')" ion-button icon-only clear>
        <img class="image-icon" src="assets/img/switch.png">
        <span> </span>{{ 'MENU_OPTION3' |translate }}
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="mode=='revision'"  end>
      <button color="oranged" (click)="switchMode('examen')" ion-button icon-only clear>
        <img class="image-icon" src="assets/img/switch.png">
        <span> </span>{{ 'MENU_OPTION2' |translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="getResultData($event)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <div  [ngSwitch]="choix">

    <div *ngSwitchCase="'all'">

      <!--tablet-->
      <ion-grid *ngIf="istablet" class="cart">
        <ion-row nowrap *ngIf="lineChart">
          <ion-col col-md-7 class="diagram">
            <canvas #lineCanvas></canvas>
          </ion-col>
          <ion-col col-md-5 class="course-label">
            <h3 *ngIf="currentResult&&currentResult.length>0">{{ 'YOUR_COURSES' | translate }}</h3>
            <ion-row *ngFor="let lab of currentResult" nowrap>
              <ion-col col-md-2 [ngStyle]="{'background-color':borderAndBacground[currentResult.indexOf(lab)].border}"></ion-col><ion-col col-md-10>{{lab.label.toLowerCase()}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--phone-->
      <ion-grid *ngIf="!istablet" class="cart" >
          <ion-row nowrap *ngIf="lineChart">
            <ion-col col-12 class="diagram">
              <canvas #lineCanvas></canvas>
            </ion-col>
          </ion-row>
          <ion-row nowrap *ngIf="lineChart">
            <ion-col class="course-title"  col-12>
              <h3  tex-wrap text-center *ngIf="currentResult&&currentResult.length>0">{{ 'YOUR_COURSES' | translate }}</h3>
            </ion-col>
          </ion-row>
            <ion-row *ngFor="let lab of currentResult" nowrap>
                <ion-col col-2 [ngStyle]="{'background-color':borderAndBacground[currentResult.indexOf(lab)].border}"></ion-col><ion-col col-10>{{lab.label.toLowerCase()}}</ion-col>
            </ion-row>
        </ion-grid>

      <ion-grid *ngIf="currentResult">
        <ion-row nowrap >
          <ion-col  [ngClass]="{'button-option-active':time=='week','button-option':time!='week'}"  (click)="setTime('week')">{{ 'BY_WEEK' | translate }}</ion-col>
          <ion-col  [ngClass]="{'button-option-active':time=='month','button-option':time!='month'}" (click)="setTime('month')">{{ 'BY_MONTH' | translate }}</ion-col>
          <ion-col  [ngClass]="{'button-option-active':time=='year','button-option':time!='year'}" (click)="setTime('year')">{{ 'BY_YEAR' | translate }}</ion-col>
        </ion-row>
      </ion-grid>

      <!--Termine-->
      <ion-grid class="result" padding *ngIf="currentResult">
        <ion-row nowrap class="win-image">
          <ion-col col-12>
            <img src="assets/img/happy_sm.png">
            <p class="win">{{ 'RESULT_TEXTE_4' | translate }}</p>
          </ion-col>
        </ion-row>
        <ion-row nowrap class="win-point"  >
          <ion-col col-12>
            <span>{{ currentResult[0]&&currentResult[0].bonne_reponse?currentResult[0].bonne_reponse:0}}</span>
          </ion-col>
        </ion-row>
        <ion-row nowrap class="loss-image">
          <ion-col col-12>
            <img src="assets/img/sad_sm.png">
            <p class="lost">{{ 'RESULT_TEXTE_3' | translate }}</p>
          </ion-col>
        </ion-row>
        <ion-row nowrap class="loss-point" >
          <ion-col col-12>
            <span>{{currentResult[0]&&currentResult[0].mauvaise_reponse?currentResult[0].mauvaise_reponse:0}}</span>
          </ion-col>
        </ion-row>
        <ion-row nowrap  class="trophy-image">
          <ion-col col-12>
            <img src="assets/img/points_win.png">
            <p class="trophy">{{ 'RESULT_TEXTE_2' | translate }}</p>
          </ion-col>
        </ion-row>
        <ion-row nowrap class="trophy-point" >
          <ion-col col-12>
            <span>{{currentResult[0]&&currentResult[0].points?currentResult[0].points:0}}</span>
          </ion-col>
        </ion-row>

      </ion-grid>

    </div>
    <div *ngSwitchCase="'matiere'">

      <!--Tablet-->
      <ion-grid *ngIf="istablet"  class="cart" >
        <ion-row nowrap *ngIf="lineChart">
          <ion-col col-md-9 class="diagram">
            <canvas #lineCanvas></canvas>
          </ion-col>
          <ion-col col-md-3>
            <ion-row wrap-reverse *ngIf="currentResult">
              <ion-col col-md-12 [ngClass]="{'button-option-active':time=='week','button-option':time!='week'}"  (click)="setTime('week')" >{{ 'BY_WEEK' | translate }}</ion-col>
              <ion-col col-md-12 [ngClass]="{'button-option-active':time=='month','button-option':time!='month'}" (click)="setTime('month')" >{{ 'BY_MONTH' | translate }}</ion-col>
              <ion-col col-md-12 [ngClass]="{'button-option-active':time=='year','button-option':time!='year'}"   (click)="setTime('year')">{{ 'BY_YEAR' | translate }}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--phone-->
      <ion-grid *ngIf="!istablet"  class="cart" >
          <ion-row nowrap *ngIf="lineChart">
            <ion-col col-12 class="diagram">
              <canvas #lineCanvas></canvas>
            </ion-col>
          </ion-row>
       </ion-grid>

    <!--phone-->
     <ion-grid *ngIf="!istablet" >
        <ion-row no-wrap *ngIf="currentResult">
          <ion-col  [ngClass]="{'button-option-active':time=='week','button-option':time!='week'}"  (click)="setTime('week')" >{{ 'BY_WEEK' | translate }}</ion-col>
          <ion-col  [ngClass]="{'button-option-active':time=='month','button-option':time!='month'}" (click)="setTime('month')" >{{ 'BY_MONTH' | translate }}</ion-col>
          <ion-col  [ngClass]="{'button-option-active':time=='year','button-option':time!='year'}"   (click)="setTime('year')">{{ 'BY_YEAR' | translate }}</ion-col>
        </ion-row>
     </ion-grid>

      <div class="course-slide" *ngIf="currentResult&&currentResult[0]&&currentResult[0].matrix&&currentResult[0].matrix[0].length>0">
        <ion-slides pager>
          <ion-slide *ngFor="let sub of currentResult[0].matrix">
            <ion-row class="course"  nowrap>
              <ion-col col-4 *ngIf="currentResult[0].matrix[currentResult[0].matrix.indexOf(sub)][0]" [ngStyle]="{'background-color':borderAndBacground[(currentResult[0].matrix.indexOf(sub)*3)].border}" (click)="setCurrentSubject(currentResult[0].matrix[currentResult[0].matrix.indexOf(sub)][0])">
                <div class="content-course">
                  <h4 text-capitalize text-left padding-top>{{currentResult[0].matrix[currentResult[0].matrix.indexOf(sub)][0].NOM_MATIERE}}</h4>
                  <hr>
                  <h5 text-left>{{getActiveSubject(currentResult,currentMatiere).nbrePoints_matiere?getActiveSubject(currentResult,currentMatiere).points:0}}</h5>
                  <p text-left>{{'POINTS' | translate }}</p>
                </div>
              </ion-col>
              <ion-col col-4 *ngIf="currentResult[0].matrix[currentResult[0].matrix.indexOf(sub)][1]" [ngStyle]="{'background-color':borderAndBacground[(currentResult[0].matrix.indexOf(sub)*3+1)].border}" (click)="setCurrentSubject(currentResult[0].matrix[currentResult[0].matrix.indexOf(sub)][1])">
                <div class="content-course">
                  <h4 text-capitalize text-left padding-top>{{currentResult[0].matrix[currentResult[0].matrix.indexOf(sub)][1].NOM_MATIERE}}</h4>
                  <hr>
                  <h5 text-left>{{getActiveSubject(currentResult,currentMatiere).nbrePoints_matiere?getActiveSubject(currentResult,currentMatiere).points:0}}</h5>
                  <p text-left>{{'POINTS' | translate }}</p>
                </div>
              </ion-col>
              <ion-col col-4 *ngIf="currentResult[0].matrix[currentResult[0].matrix.indexOf(sub)][2]" [ngStyle]="{'background-color':borderAndBacground[(currentResult[0].matrix.indexOf(sub)*3+2)].border}" (click)="setCurrentSubject(currentResult[0].matrix[currentResult[0].matrix.indexOf(sub)][2])">
                <div class="content-course">
                  <h4 text-capitalize text-left padding-top>{{currentResult[0].matrix[currentResult[0].matrix.indexOf(sub)][2].NOM_MATIERE}}</h4>
                  <hr>
                  <h5 text-left>{{getActiveSubject(currentResult,currentMatiere).nbrePoints_matiere?getActiveSubject(currentResult,currentMatiere).points:0}}</h5>
                  <p text-left>{{'POINTS' | translate }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-slide>
        </ion-slides>
      </div>

      <!--Termine-->
      <ion-grid class="result" padding *ngIf="currentResult">
        <ion-row nowrap class="win-image">
          <ion-col col-12>
            <img src="assets/img/happy_sm.png">
            <p class="win">{{ 'RESULT_TEXTE_4' | translate }}</p>
          </ion-col>
        </ion-row>
        <ion-row nowrap class="win-point">
          <ion-col col-12>
            <span>{{getActiveSubject(currentResult,currentMatiere).bonne_reponse?getActiveSubject(currentResult,currentMatiere).bonne_reponse:0}}</span>
          </ion-col>
        </ion-row>
        <ion-row nowrap class="loss-image">
          <ion-col col-12>
            <img src="assets/img/sad_sm.png">
            <p class="lost">{{ 'RESULT_TEXTE_3' | translate }}</p>
          </ion-col>
        </ion-row>
        <ion-row nowrap class="loss-point" >
          <ion-col col-12>
            <span>{{getActiveSubject(currentResult,currentMatiere).mauvaise_reponse?getActiveSubject(currentResult,currentMatiere).mauvaise_reponse:0}}</span>
          </ion-col>
        </ion-row>
        <ion-row nowrap  class="trophy-image">
          <ion-col col-12>
            <img src="assets/img/points_win.png">
            <p class="trophy">{{ 'RESULT_TEXTE_2' | translate }}</p>
          </ion-col>
        </ion-row>
        <ion-row nowrap class="trophy-point">
          <ion-col col-12>
            <span>{{getActiveSubject(currentResult,currentMatiere).points?getActiveSubject(currentResult,currentMatiere).points:0}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>

<ion-footer [ngClass]="{'option-active':choix=='all','option':choix=='matiere'}">
  <ion-row nowrap>
    <ion-col text-center col-6 padding (click)="myChoice('all')">{{ 'ALL' | translate }}</ion-col>
    <ion-col text-center col-6 padding (click)="myChoice('matiere')">{{ 'BY_COURSE' | translate }}</ion-col>
  </ion-row>
</ion-footer>
