// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
        primary:#488aff,
        bleu-gradient:#488aff,
        secondary:#32db64,
        danger:#f53d3d,
        light:#f4f4f4,
        white:#fff,
        light-blue:#eff3f7,
        dak-blue:#091233,
        dark:#222,
        dark-red:#591916,
        oranged:#ef9347,
        sky-blue:#a5e7ff
);
//

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-title-text-color:#ffffff;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


/*$radio-md-icon-border-style:none;
$radio-md-icon-border-radius:0;
$radio-md-color-on:#000000;
$radio-md-color-off:#000000;
$radio-md-icon-height:0;
$radio-md-icon-width:0;*/

$toolbar-md-title-text-color:#ffffff;
$text-input-md-highlight-color:#ffffff;






// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

$text-input-placeholder-color:#a4b1c1;
$text-input-highlight-color-valid:#ffffff;
$text-input-highlight-color-invalid:#ffffff;



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
