page-loader {

  //Design adapate au telephone

  .side-back{
    background: gray;
    background: -webkit-linear-gradient(to bottom,#eff3f7 0%,#eff3f7 50%,#eff3f7 50%,white 50%,white 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom,#eff3f7 0%,#eff3f7 50%,#eff3f7 50%,white 50%,white 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom,#eff3f7 0%,#eff3f7 50%,#eff3f7 50%,white 50%,white 100%);/* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #eff3f7 0%,#eff3f7 50%,#eff3f7 50%,white 50%,white 100%); /* Standard syntax */
  }


  .title-toolbar{
    text-align: center;
    font-weight: bold;
  }

  .passer{
    text-transform: uppercase;
    font-size: 10px;
  }

  .logo{
    width: 75px;
    height: 75px;
    display: block;
    margin: auto;

  }

  .toolbar-background {
    background:#0e86ef;
    background: linear-gradient(to top right, #0e86ef,#f4ffff);
  }

  .astuce-image{
    background-color: #eff3f7;
    padding-top: 40px;
  }

  .astuce-image img{
    max-height:150px;
    max-width: 100%;
    display: block;
    margin: auto;
   // margin-bottom: -30px;
  }

  .swiper-slide{
    height: 300px;
    margin-top: -75px;
    background: #ffffff;
    z-index: 20;
  }

  .swiper-slide h2{
    font-weight: bold;
    font-size: 14px;
  }

  .swiper-slide p{
    color: gray;
    opacity: 0.8;
    text-align: justify;
    font-size: 12px;
    margin: 10px;
  }

  .swiper-pagination{
    margin-bottom: 200px;
  }

  //Design adapte au tablette
  @media screen and (min-width:600px){

    .logo {
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }

    .astuce-image img{
      max-height:300px;
      max-width: 100%;
      margin-top: 50px;
    }

    .swiper-slide{
      margin-top: 0;
      background: #ffffff;
    }

    .swiper-slide h2{
      margin: 50px;
      font-weight: bold;
      font-size: 28px;
    }

    .swiper-slide p{
      color: gray;
      opacity: 0.8;
      font-size: 24px;
      text-align: justify;
    }

    .swiper-pagination{
      margin-bottom: 400px;
    }

    .passer{
      text-transform: capitalize;
      font-size: 14px;
    }

  }

}


