<!--
  Generated template for the LoaderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header  no-border>

  <ion-navbar hideBackButton  color="light-blue">
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button clear="true" class="passer" color="primary" (click)="pageLogin()"  icon-end>
        {{'TUTORIAL_REGISTER_BUTTON' | translate}}
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
  </ion-toolbar>

</ion-header>

<ion-content >

  <div class="astuce-image">
    <img *ngIf="slideData&&slideData[index]" src="{{slideData[index].picture}}">
  </div>

  <ion-slides pager="true" loop="true" autoplay="10000" (ionSlideDidChange)="updateIndex()">

    <ion-slide *ngFor="let p of slideData">
      <h2>{{p.title}}</h2>
      <p>{{p.description}} </p>
    </ion-slide>

  </ion-slides>

</ion-content>


<ion-footer>
  <ion-toolbar (click)="pageLogin()" >
    <ion-title class="title-toolbar">{{'TUTORIAL_REGISTER_BUTTON' | translate}}</ion-title>
  </ion-toolbar>
</ion-footer>
