// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.logo-menu{
  background-color: #ffffff;
}

.logo-menu img{
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  margin-bottom: 0;
}

.logo-menu h3{
  margin-top: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  height: 10px;
  color: #3673f7;
}

.logo-menu p{
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  height: 10px;

}

.copyright{
  font-weight: 100;
  font-size:10px;
  color: #729fff;
}

.item-menu ion-label {
  color: #729fff;
}

.item-menu ion-icon::before {
  color: #729fff;
}

//Design adapte au tablette
@media screen and (min-width:600px){

  .logo-menu{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
  }

}
