<ion-menu id="menu-user" [content]="content">

  <ion-header>
    <ion-navbar color="dak-blue">
      <ion-title text-center>MooExams</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-toolbar  class="logo-menu">
      <img *ngIf="user" src="{{user.image_data?user.image_data:'assets/img/emoji.png'}}">
      <!--<h3 *ngIf="user" >{{ user.prenom }} {{ user.nom }} </h3>-->
      <h3 *ngIf="user" >{{ user.username }} </h3>
      <p *ngIf="userClasse&&user.role_id==4">{{ 'STUDENT' | translate }} {{ userClasse.NOM_CLASSE }} <span *ngIf="userClasse.OPTION_CLASSE">{{ userClasse.OPTION_CLASSE }}</span> </p>
      <p *ngIf="user&&user.role_id==5">{{ 'PARENT' | translate }} </p>
      <p *ngIf="user&&user.role_id==6">{{ 'TEACHER' | translate }}  </p>
    </ion-toolbar>
    <ion-list no-lines *ngIf="user">
      <div *ngFor="let p of pages" >
      <ion-item class="item-menu" menuClose (click)="openPage(p)" *ngIf="user.role_id==p.role|| p.role==0">
        <ion-icon name="{{p.icon}}" item-start ></ion-icon>
        {{p.title}}
      </ion-item>
      </div>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-title text-center>
      <h4 class="copyright">(c) SDK GAMES AFRICA 2018</h4>
    </ion-title>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" id="examMenu" #content swipeBackEnabled="false"></ion-nav>