page-detail-user {

  .modal-image img{
    max-height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100px;
    display: block;

  }

  .info h2{
    font-weight: bold;
  }

  .info p{
    color: #808080;
  }

  .modal-image{
    background-color: #eff3f7;
  }

}
