<!--
  Generated template for the DetailUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue" hideBackButton="true">
    <ion-title text-uppercase>{{userInfos.username.toUpperCase()}} {{'PROFIL_TITLE' | translate  }}</ion-title>
    <ion-buttons end>
      <button color="oranged" ion-button clear (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content >

  <div class="modal-image" *ngIf="userInfos.image_data">
    <img src="{{userInfos.image_data?userInfos.image_data:'assets/img/emoji.png'}}">
  </div>

  <ion-list class="info"  padding>
    <ion-item  *ngIf="userInfos&&userInfos.nom">
      <h2> {{'NAME' | translate}}</h2>
      <p>{{userInfos.nom}}</p>
    </ion-item>

    <ion-item  *ngIf="userInfos&&userInfos.prenom">
      <h2>  {{'SURNAME' | translate}}</h2>
      <p>{{userInfos.prenom}}</p>
    </ion-item>

    <ion-item  *ngIf="userInfos&&userInfos.tel">
      <h2> {{'PHONE' | translate}}</h2>
      <p>{{userInfos.tel}}</p>
    </ion-item>

    <ion-item *ngIf="userInfos&&userInfos.email">
      <h2> {{'EMAIL' | translate}} </h2>
      <p>{{userInfos.email}}</p>
    </ion-item>

    <ion-item *ngIf="userClasse&&userClasse.NOM_CLASSE">
      <h2>{{'CLASS' | translate}} </h2>
      <p *ngIf="userClasse">{{userClasse.NOM_CLASSE}} <span *ngIf="userClasse.OPTION_CLASSE!='NONE'">{{userClasse.OPTION_CLASSE}}</span></p>
    </ion-item>

    <ion-item *ngIf="userSchool&&userSchool.school">
      <h2>{{'SCHOOL' | translate}} </h2>
      <p *ngIf="userSchool">{{userSchool.school}}</p>
    </ion-item>

    <ion-item *ngIf="userSchool&&userSchool.annee">
      <h2> {{'YEAR' | translate}} </h2>
      <p *ngIf="userSchool">{{userSchool.annee}}</p>
    </ion-item>
  </ion-list>

</ion-content>
