<!--
  Generated template for the ChallengeParticipantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar color="dak-blue">
  <button ion-button menuToggle color="oranged" start>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title text-center><span class="slogan">MooExams</span><span class="titre">{{ 'CHALLENGES' | translate }}</span></ion-title>
  <ion-buttons end>
    <button color="oranged" (click)="goProfile()" icon-only ion-button>
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

  <ion-toolbar>
    <ion-buttons color="oranged" ion-button clear end>
      {{ 'CHALLENGES_PARTICIPANTS' |translate }}
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="getResult($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <div class="entete" padding>
    <ion-row nowrap>
      <ion-col>
        <h1 text-left>{{challenge.titre}}</h1>
        <h3 text-left *ngIf="matiere">{{matiere.NOM_MATIERE}}</h3>
      </ion-col>
      <ion-col offset-2>
        <p text-center>{{participants.length||0}}</p>
        <p text-center>{{ 'PARTICIPANTS' | translate }}</p>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid *ngIf="participants&&participants.length>0">
    <ion-row class="item-score" *ngFor="let participant of participants">

      <ion-col col-2 class="image">
        <img src="{{getInfos(users[participant.id],participant.participant_id).image_data?getInfos(users[participant.id],participant.participant_id).image_data:'assets/img/emoji.png'}}">
      </ion-col>
      <ion-col col-6 class="info">
        <h4 text-capitalize *ngIf="users[participant.id]">{{getInfos(users[participant.id],participant.participant_id).nom}}</h4>
        <h4 text-capitalize *ngIf="users[participant.id]">{{getInfos(users[participant.id],participant.participant_id).prenom}}</h4>
        <h5 text-capitalize *ngIf="classes[participant.participant_id]">{{classes[participant.participant_id].NOM_CLASSE}}  <span *ngIf="classes[participant.participant_id].OPTION_CLASSE!='NONE'">{{classes[participant.participant_id].OPTION_CLASSE}}</span></h5>
        <h5 text-capitalize *ngIf="schools[participant.id]">{{getSchool(schools[participant.id],participant.participant_id).school}}</h5>
      </ion-col>
      <ion-col col-4 class="result">
        <p>{{ 'CHALLENGE_PARTICIPATED_ON' | translate }} : {{formatDateBar(participant.date_participation)}}  </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="serveurReponse&&participants&&participants.length==0" padding-top>
    <ion-item text-wrap>
      <p text-center>{{ 'CHALLENGE_PARTICIPANTS_MESSAGE' | translate }}</p>
    </ion-item>
  </ion-list>

</ion-content>
