page-challenge-participants {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }


  .bar-button-md{
    text-transform: none;
  }

  span.slogan{
    font-size: large;
    font-weight: bold;
    font-style: italic;
  }

  span.titre{
    color: #ef9347;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    text-transform: capitalize;
  }


  .grid{
      padding: 0;
    }

  .entete{

    .row{
      .col{
        font-size: 7px;
        color: #808080;

        &:first-child{

          h1{
            font-size: 15px;
            font-weight: bold;
            color: #091233;
          }

          h3{
            font-size: 10px;
            color: #488aff;
            font-weight: 400;
          }
        }

        &:last-child{
          margin-top: 5px;
            p{
                text-align: right;
                font-weight: bold;
                font-size: 10px;
                margin: 0;
            }
        }
      }
    }
  }

  .item-score{

    max-height: 90px;

    &:first-child{
      border-top: 1px solid #ef9347;
    }
    &:first-child:not(:last-child){
      border-top: 1px solid #ef9347;
    }

    &:not(:first-child):not(:last-child){
      border-bottom: 1px solid #ef9347;
    }

    &:last-child:not(:first-child){
      border-bottom: 1px solid #ef9347;
    }

    &:last-child{
      border-bottom: 1px solid #ef9347;
    }

    .image{
      img{
        max-height: 80px;
        max-width: 80px;
      }
    }

    .info{

      h4{
        color: #000000;
        font-weight: bold;
        font-size: 10px;
        text-align: left;
        margin: 4px;
      }

      h5{
        color: #000000;
        font-weight: 300;
        font-size: 9px;
        text-align: left;
        margin: 4px;
      }

    }

    .result{

      border-left: 1px solid #f4f4f4;
      margin-top: 20px;
      margin-bottom: 20px;
      p{
        color: #808888;
        font-size:8px;
        margin: 12px;
        text-align: right;
      }
    }
  }
}
