<!--
  Generated template for the SurveyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
          <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
        <button color="oranged" icon-only clear (click)="goProfile()" ion-button>
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <p class="title">{{ 'SURVEYCODE' | translate }}</p>
   </ion-toolbar> 
</ion-header>


<ion-content padding>

  <hr>
    <p text-wrap text-justify>{{ 'SURVEYMESSAGE' | translate }}</p>
  <hr>

  <ion-row padding-top>
    <ion-col col-12>
      <button ion-button full color="oranged" (click)="getMooexamsCode()">{{ 'GETCODE' | translate}}</button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer class="survey-footer">
  <button ion-button color="white"  clear (click)="download()" full text-uppercase>
    <ion-icon name="download"></ion-icon>
    {{ 'DOWNLOAD_MOOSURVEY' | translate }}
  </button>
</ion-footer>
