page-survey {

    hr{
        border-bottom: 1px solid #ef9347;
    }

    .title{
         text-align: right;
         color: #488aff;
    }
    .col { 
        button{
            box-shadow: none;
        }
    }

    .survey-footer{
        background-color: #0e86ef;
        background: linear-gradient(to top right, #0e86ef,#f4ffff);
      }

}
