page-concours-dash {

    .first-title{
        font-weight: bold;
        color : #fff;
    }
    
    .second-title{
        font-weight: bold;
        color : #ef9347;
        margin-left: 5px;
    }

    .toolbar .segment-md{
        margin-bottom: -16px;
    }

    .segment-md .segment-button{
        color:#222;
        text-transform: initial;
        font-weight: bold;
    }

    .alert-error{
        color: #f53d3d;
    }

     .segment-md .segment-button.activated, .toolbar .segment-md .segment-button.segment-activated{
        color:#488aff;
        text-transform: initial;
        font-weight: bold;
    }

    .button-inner {
        text-transform: initial;
    }

    .con-button{
        background: #488aff;
        opacity: 0.6;
    }

    .con-image{
       
        img{
            padding: 40px;
        }

        p{
            margin-top:-90px;
            margin-left: 2px;
            margin-right: 2px;
            padding: 10px;
            color:#222;
        }
    }


    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        color: #488aff;;
    }

    .con-par{
        z-index: 1000;
        position: relative;
        left: calc(100% - 110px);
        top : -100px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-color : #fff;
        box-shadow: 5px 5px 5px #eff3f7;

        h3{
            text-align: center;
            padding-top:30px;
            font-weight: bold;
            margin: 0px;
            color: #091233;
            font-family: 'Roboto';
        }

        p{
            text-align: center;
            color:#222;
            margin: 0px;
            font-weight: 100;
            margin-top: -10px;
            font-size: 12px;
            font-family: 'Roboto';
        }
    }

    .con-date{
        .col{
            span{
                color: #488aff;
                font-size: 11px;
            }
        }
    }

    .team-name{
        .col{
            .h2{
                color:#091233;
                font-size: 16px;
                font-weight: bold;

            } 

            h3{
                font-size: 14px;
                color: #488aff;
                font-weight: 200;
                text-align: right;
            }

            
        }
    }

    hr{
        border-bottom : 1px solid #ef9347;
    }

    .con-sponsor{
        p{
            margin-left: 10px;
            font-weight: 500;
            color: #222;
            font-style: italic;
            font-size: 16px;
        }

        .img-spon{
            .col{
                margin: 5px;
                padding: 5px;
                background-color: #eff3f7;
                width: 30%;
                height: 90px;

                img{
                  max-height:   70px;
                  max-width:   90px;
                }
            }
        }

    }


     .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: -8px;
    }

    .add-box{
        border: 1px solid #0e86ef;
        height: 70px;
        margin: 20px;
    
      }
    
      .boder-fill{
        border: 1px dashed #808080;
        height: 65px;
        margin: 2px;
        padding: 5px;
      }
    
      .boder-fill img{
        height: 20px;
        width: 20px;
        display: block;
        margin: auto;
      }
    
      .boder-fill .button{
        text-transform: lowercase;
        margin-bottom: -5px;
      }
    
      .boder-fill .button:first-letter{
        text-transform:Capitalize;
      }

      .team-image{
            padding: 20px;

          p{
              color :#222;
          }
      }


      .add-member{
        .col{
            .button{
                box-shadow: none;
                height: 40px;
                width: 160px;
                font-size: 12px;
                text-align: center;
            }
        }
      }

      .cancel-member{
        .col{
            .button{
                text-decoration: underline;
                text-align: center;
                height: 40px;
                font-size: 12px;
                width: 160px;
            }
        }
      }

      .con-members{
    
        border-bottom: 1px solid #eff3f7;
        padding: 0px;

        .row{
            height: 90px;
        }

        .col{
            height:70px;
        }
       
            .image{
                margin: auto;
                display: block;
                img{
                    max-height: 70px;
                    max-width: 80px;
                    margin-top: 10px;
                    
                }
            }

            .info{
                h3{
                    color: #222;
                    font-weight: bold;
                    font-size: 10px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                p{
                    color: #222;
                    font-weight: bold;
                    opacity: 0.8;
                    font-size: 8px;
                    padding: 0;
                    margin-top: 2px;
                }
            }

            .option{
                padding: 0px;
                padding-top: 35px;
                
                .button{
                    width: max-content;
                    color: #488aff;
                    text-align: left;
                    height: 15px;
                    font-size: 8px;
                    width: auto;
                    text-transform: capitalize;
                    font-weight: 100;

                }
            }
      }

      @media screen and (min-width: 600px){


        .con-sponsor{
            p{
                margin-left: 10px;
                font-weight: 500;
                color: #222;
                font-style: italic;
                font-size: 24px;
            }
    
            .img-spon{
                .col{
                    margin: 5px;
                    padding: 5px;
                    background-color: #eff3f7;
                    width: 30%;
                    height: 180px;
    
                    img{
                      margin-top: 35px;  
                      max-height:   140px;
                      max-width:   180px;
                    }
                }
            }
    
        }

        .con-des{
            font-size: 24px;
        }

        .con-date{
            .col{
                span{
                    color: #488aff;
                    font-size: 16px;
                }
            }
        }


      .team-image{
        

        p{
          font-size: 24px;
        }
  
    }


    .con-members{
    
        border-bottom: 1px solid #eff3f7;
        padding: 0px;

        .row{
            height: 90px;
        }

        .col{
            height:70px;
        }
       
            .image{
                margin: auto;
                display: block;
                img{
                    max-height: 90px;
                    max-width: 100px;
                    margin-top: 10px;
                    
                }
            }

            .info{
                h3{
                    color: #222;
                    font-weight: bold;
                    font-size: 14px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                p{
                    color: #222;
                    font-weight: bold;
                    opacity: 0.8;
                    font-size: 10px;
                    padding: 0;
                    margin-top: 2px;
                }
            }

            .option{
                padding: 0px;
                padding-top: 35px;
                
                .button{
                    width: max-content;
                    color: #488aff;
                    text-align: left;
                    height: 15px;
                    font-size: 12px;
                    width: auto;
                    text-transform: capitalize;
                    font-weight: 100;

                }
            }
      }

      .team-name{
        .col{
            .h2{
                color:#091233;
                font-size: 24px;
                font-weight: bold;
                margin-left: 20px;
            
            } 

            h3{
                font-size: 14px;
                color: #488aff;
                font-weight: 200;
                text-align: right;
                margin-right: 20px;
            }

            
        }
    }



      }
  
}
