<!--
  Generated template for the ConcoursDashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="dak-blue">
      <button ion-button menuToggle color="oranged" start>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center><span class="first-title">Holidays</span><span class="second-title">Battles</span></ion-title>
    <ion-buttons end>
        <button color="oranged" icon-only (click)="goProfile()" ion-button>
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="light-blue">
      <ion-segment [(ngModel)]="choix">
          <ion-segment-button value="concours" (ionSelect)="updateChoix('concours')">
            {{ 'CONCOURS' | translate }}
          </ion-segment-button>
          <ion-segment-button value="equipe" (ionSelect)="updateChoix('equipe')">
            {{ 'MYTEAM' | translate }}
          </ion-segment-button>
          <ion-segment-button value="invitation" (ionSelect)="updateChoix('invitation')">
            {{ 'CONCOURS_INVITATIONS' | translate }}
          </ion-segment-button>
        </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content >

        <ion-refresher (ionRefresh)="refreshData($event,choix)">
                <ion-refresher-content
                        pullingText=""
                        pullingIcon="arrow-dropdown"
                        refreshingSpinner="circles"
                        refreshingText="...">
                </ion-refresher-content>
        </ion-refresher>

       

    <div [ngSwitch]="choix">
        <div *ngSwitchCase="'concours'">

                <div *ngIf="!searching" class="spinner-container">
                        <ion-spinner></ion-spinner>
                </div>

           <div class="con-image" *ngIf="searching">
             <img src="assets/img/concours_affiche.png">

             <div class="con-par"  *ngIf="searching&&concours">
               <h3>{{nbParticipants }}</h3>
               <p>{{ 'PARTICIPANTS' | translate }}</p>
             </div>

    
             <p text-wrap text-justify class="con-des" *ngIf="concours&&concours.description">
                <!-- <b>{{concours.title}}</b><br><br> -->
                 {{concours.description}}
            </p>

            <p text-wrap text-justify class="con-des" *ngIf="concours&&concours.active==0">
                {{'CONCOURS_INACTIVE_MESSAGE' | translate }}
            </p>

            <p text-wrap text-justify class="con-des" *ngIf="searching&&!concours">
                    {{'CONCOURS_INACTIVE_MESSAGE' | translate }}
            </p>

            <ion-row no-wrap class="con-date" *ngIf="concours&&concours.date_debut&&concours.date_fin">
              <ion-col>
                <b>{{ 'CONCOURS_START' | translate }} : </b> <span>{{formatDate(concours.date_debut)}}</span>
              </ion-col>
              <ion-col  offset-1>
                  <b>{{ 'CONCOURS_END' | translate }} : </b> <span>{{formatDate(concours.date_fin)}}</span>
              </ion-col>
            </ion-row>
           </div>
           <hr *ngIf="searching">
           <div class="con-sponsor" *ngIf="sponsors&&sponsors.length>0">
             <p>{{ 'CONCOURS_SPONSORING' | translate }}</p>

             <ion-slides pager >
                <ion-slide *ngFor="let spon of sponsors;let i=index" >
                 <ion-row class="img-spon" >
                   <ion-col *ngIf="sponsors[i][0]">
                      <img src="{{sponsors[i][0]}}">
                   </ion-col>
                   <ion-col *ngIf="sponsors[i][1]">
                      <img src="{{sponsors[i][1]}}">
                   </ion-col>
                   <ion-col *ngIf="sponsors[i][2]">
                      <img src="{{sponsors[i][2]}}">
                   </ion-col>
                 </ion-row>
                </ion-slide>
            </ion-slides>
            <div style="min-height: 20px;"></div>
           </div>
        </div> 
        <div *ngSwitchCase="'equipe'">

            <div  *ngIf="concours&&concours.active==1">
                <div *ngIf="!hasteamVerify" class="spinner-container">
                        <ion-spinner></ion-spinner>
                </div>

            <form [formGroup]="memberForm" *ngIf="showAddMemberContain||showUpdateContain">

            <ion-list class="inscription" padding>

                <ion-item>
                    <ion-label color="dark" stacked>{{'USERNAME' | translate}}</ion-label>
                    <ion-input type="text"  formControlName="nom" placeholder="{{'PLACEHOLDER_TEAM_USERNAME' | translate}}"></ion-input>
                </ion-item>

                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert-error">
                    <div *ngIf="username.errors.required">
                        {{'USERNAME' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                    </div>
                    <div *ngIf="username.errors.minlength">
                        {{'USERNAME' | translate}}  {{'FIELDS_MINLENGTH' | translate}}
                    </div>
                    <div *ngIf="username.errors.maxlength">
                        {{'USERNAME' | translate}}  {{'FIELDS_MAXLENGTH' | translate}}
                    </div>
                </div>

                <ion-item>
                    <ion-label color="dark" stacked>{{'PHONE' | translate}}</ion-label>
                    <ion-input type="tel" formControlName="numero" placeholder="{{'PLACEHOLDER_PHONE_TEAM' | translate}}"></ion-input>
                </ion-item>

                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert-error">
                    <div *ngIf="phone.errors.required">
                        {{'PHONE' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                    </div>

                    <div *ngIf="phone.errors.pattern">
                        {{'PHONE' | translate}}  {{'FIELDS_PATTERN' | translate}}
                    </div>
                </div>
            </ion-list>

              <ion-row class="add-member" align-items-center *ngIf="typeButtonShow==1">
                <ion-col  offset-3 offset-md-5>
                  <button  [disabled]="memberForm.invalid" ion-button color="bleu-gradient" large (click)="AddTeamMember(memberForm.value)" >{{ 'SAVE' | translate}}</button>
                </ion-col>
              </ion-row>

              <ion-row class="add-member" align-items-center *ngIf="typeButtonShow==2">
                    <ion-col  offset-3 offset-md-5>
                      <button  [disabled]="memberForm.invalid" ion-button color="bleu-gradient" large (click)="UpdateTeamMember(memberForm.value,currentMember)" >{{ 'UPDATE' | translate}}</button>
                    </ion-col>
             </ion-row>

              <ion-row  class="cancel-member"  align-items-center>
                  <ion-col offset-3 offset-md-5>
                      <button ion-button clear color="dark" large (click)="cancelMember()">{{ 'CHALLENGES_DECLINE' | translate}}</button>
                  </ion-col>
             </ion-row>

            </form>

            <div class="team-image" *ngIf="members&&members.length==1&&!showAddMemberContain&&team.user_id==user.id">
                <img src="assets/img/team_affiche.png">
  
                <p text-wrap text-justify>
                  {{ 'TEAM_MEMBERS_MESSAGE' | translate}}
               </p>
            </div>

              <div class="add-box" *ngIf="!showAddMemberContain&&members&&members.length==1&&team.user_id==user.id">
                  <div class="boder-fill">
                    <img src="assets/img/add-person.png">
                    <button ion-button full clear color="oranged" (click)="addMember()">{{ 'ADDED_MEMBER' | translate }}</button>
                  </div>
              </div>

              <form [formGroup]="teamForm" *ngIf="showCreateContain">

                    <ion-list class="inscription" padding>
        
                        <ion-item>
                            <ion-label color="dark" stacked>{{'TEAM_NAME' | translate}}</ion-label>
                            <ion-input type="text"  formControlName="nom_equipe" placeholder="{{'PLACEHOLDER_TEAM_NAME' | translate}}"></ion-input>
                        </ion-item>
        
                        <div *ngIf="teamName.invalid && (teamName.dirty || teamName.touched)" class="alert-error">
                            <div *ngIf="teamName.errors.required">
                                {{'TEAM_NAME' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                            </div>
                        </div>
                    </ion-list>
        
                      <ion-row class="add-member" align-items-center>
                        <ion-col  offset-3 offset-md-5>
                          <button  [disabled]="teamForm.invalid" ion-button color="bleu-gradient" large (click)="createTeam(teamForm.value)" >{{ 'SAVE' | translate}}</button>
                        </ion-col>
                      </ion-row>
        
                      <ion-row  class="cancel-member"  align-items-center>
                          <ion-col offset-3 offset-md-5>
                              <button ion-button clear color="dark" large (click)="cancelMyTeam()">{{ 'CHALLENGES_DECLINE' | translate}}</button>
                          </ion-col>
                        </ion-row>
        
                </form>

                <div class="team-image" *ngIf="members&&members.length==0&&!showCreateContain&&hasteamVerify">
                        <img src="assets/img/team_affiche.png">
          
                        <p text-wrap text-justify>
                          {{ 'TEAM_CREATION_MESSAGE' | translate }}
                       </p>
                </div>

                 <div class="add-box" *ngIf="!showCreateContain&&hasteamVerify&&members&&members.length==0">
                            <div class="boder-fill">
                              <img src="assets/img/add-person.png">
                              <button ion-button full clear color="oranged" (click)="createMyTeam()">{{ 'CREATE_TEAM' | translate }}</button>
                            </div>
                </div>
                <!--permanent Team member container-->
                <div *ngIf="!showAddMemberContain&&members&&members.length>0">
                        <ion-row class="team-name" no-wrap>
                            <ion-col><h2 text-left>{{team.nom_equipe}}</h2></ion-col>
                            <ion-col><h3> <span *ngIf="classe&&classe.NOM_CLASSE">{{classe.NOM_CLASSE}}</span> <span *ngIf="classe&&classe.OPTION_CLASSE!='NONE'">{{classe.OPTION_CLASSE}}</span></h3></ion-col>
                                
                        </ion-row> 
                        <ion-row class="con-members" *ngFor="let mem of members;let i=index" no-wrap>
                                <ion-col  class="image">
                                    <img src="assets/img/team_logo.png">
                                </ion-col>
                                <ion-col class="info">
                                    <h3>{{mem.nom}}</h3>
                                    <p>{{mem.numero}}</p>
                                </ion-col>

                                <ion-col class="option" *ngIf="user.id!=team.user_id">
                                        <button ion-button clear [disabled]="user.tel!=mem.numero" color="bleu-gradient" large (click)="CancelTeamMemberForm(i,mem)">{{ 'CONCOURS_BUTTON_CANCEL' | translate}}</button>
                                </ion-col>
                                
                                <ion-col class="option" *ngIf="user.id==team.user_id">
                                        <button ion-button clear  [disabled]="user.tel==mem.numero" color="bleu-gradient" large (click)="UpdateTeamMemberForm(members,mem)">{{ 'UPDATED' | translate}}</button>
                                </ion-col> 
                                
                                <ion-col class="option" *ngIf="user.id==team.user_id">
                                        | <button ion-button clear [disabled]="user.tel==mem.numero" color="bleu-gradient" large (click)="DeleteTeamMember(i,mem)">{{ 'DELETE' | translate}}</button>
                                </ion-col>
                        </ion-row>
                </div>

              <hr *ngIf="hasteamVerify">

              <div *ngIf="(showCreateContain||showAddMemberContain)&&members&&members.length==0">
                  <img src="{{url}}">
              </div>

              <div class="add-box" *ngIf="!showAddMemberContain&&members&&members.length>1&&members.length<15&&team.user_id==user.id">
                  <div class="boder-fill">
                    <img src="assets/img/add-person.png">
                    <button ion-button full clear color="oranged" (click)="addMember()">{{ 'ADDED_MEMBER' | translate }}</button>
                  </div>
              </div>

              <!--temporary Team member container-->
              <div *ngIf="showAddMemberContain&&members&&members.length>0">
                    <ion-row class="team-name" no-wrap>
                        <ion-col><h2 text-center>{{team.nom_equipe}}</h2></ion-col>
                        <ion-col><h3> <span *ngIf="classe&&classe.NOM_CLASSE">{{classe.NOM_CLASSE}}</span> <span *ngIf="classe&&classe.OPTION_CLASSE!='NONE'">{{classe.OPTION_CLASSE}}</span></h3></ion-col>
                    </ion-row>    
                    <ion-row class="con-members" *ngFor="let mem of members;let i=index" no-wrap>
                        <ion-col  class="image">
                            <img src="assets/img/team_logo.png">
                        </ion-col>
                        <ion-col class="info">
                            <h3>{{mem.nom}}</h3>
                            <p>{{mem.numero}}</p>
                        </ion-col>

                       <ion-col class="option" *ngIf="user.id!=team.user_id">
                                <button ion-button clear  color="bleu-gradient" large (click)="CancelTeamMemberForm(i,mem)">{{ 'CONCOURS_BUTTON_CANCEL' | translate}}</button>
                       </ion-col> 

                        <ion-col class="option" *ngIf="user.id==team.user_id">
                                <button ion-button clear [disabled]="user.tel==mem.numero" color="bleu-gradient" large (click)="UpdateTeamMemberForm(members,mem)">{{ 'UPDATED' | translate}}</button>
                        </ion-col> 
                        
                        <ion-col class="option" *ngIf="user.id==team.user_id">
                                | <button ion-button clear [disabled]="user.tel==mem.numero" color="bleu-gradient" large (click)="DeleteTeamMember(i,mem)">{{ 'DELETE' | translate}}</button>
                        </ion-col>
                    </ion-row>
                </div>

              <div class="con-sponsor" *ngIf="!showAddMemberContain&&!showCreateContain&&hasteamVerify&&sponsors&&sponsors.length>0">
                <p>{{ 'CONCOURS_SPONSORING' | translate }}</p>
                <ion-slides pager >
                    <ion-slide *ngFor="let spon of sponsors;let i=index" >
                     <ion-row class="img-spon" >
                       <ion-col *ngIf="sponsors[i][0]">
                          <img src="{{sponsors[i][0]}}">
                       </ion-col>
                       <ion-col *ngIf="sponsors[i][1]">
                          <img src="{{sponsors[i][1]}}">
                       </ion-col>
                       <ion-col *ngIf="sponsors[i][2]">
                          <img src="{{sponsors[i][2]}}">
                       </ion-col>
                     </ion-row>
                    </ion-slide>
                </ion-slides>
               <div style="min-height: 20px;"></div>
              </div>
            </div>
            <div  *ngIf="concours&&concours.active==0">

                    <div class="team-image">
                            <img src="assets/img/team_affiche.png">

                            <p text-wrap text-justify>
                              {{ 'NONE_ACTIVE_CONCOURS' | translate}}
                           </p>
                    </div>

            </div>
        </div>   
        <div *ngSwitchCase="'invitation'">

                <form [formGroup]="friendForm">

                        <ion-list class="inscription" padding>
            
                            <ion-item>
                                <ion-label color="dark" stacked>{{'CONCOURS_NAME' | translate}}</ion-label>
                                <ion-input type="text"  formControlName="nom" placeholder="{{'PLACEHOLDER_TEAM_NAME' | translate}}"></ion-input>
                            </ion-item>
            
                            <div *ngIf="friendForm.get('nom').invalid && (friendForm.get('nom').dirty || friendForm.get('nom').touched)" class="alert-error">
                                <div *ngIf="friendForm.controls['nom'].errors.required">
                                    {{'CONCOURS_NAME' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                                </div>
                            </div>


                            <ion-item>
                                    <ion-label color="dark" stacked>{{'PHONE' | translate}}</ion-label>
                                    <ion-input type="tel"  formControlName="numero" placeholder="{{'PLACEHOLDER_PHONE_TEAM' | translate}}"></ion-input>
                            </ion-item>
                
                            <div *ngIf="friendForm.get('numero').invalid && (friendForm.get('numero').dirty || friendForm.get('numero').touched)" class="alert-error">
                                    <div *ngIf="friendForm.controls['numero'].errors.required">
                                        {{'PHONE' | translate}}  {{'FIELDS_REQUIRED' | translate}}
                                    </div>

                                    <div *ngIf="friendForm.controls['numero'].errors.pattern">
                                        {{'PHONE' | translate}}  {{'FIELDS_PATTERN' | translate}}
                                    </div>
                            </div>
                        </ion-list>
            
                          <ion-row class="add-member" align-items-center>
                            <ion-col  offset-3 offset-md-5>
                              <button  [disabled]="friendForm.invalid" ion-button color="bleu-gradient" large (click)="inviteFriend(friendForm.value)" >{{ 'SAVE' | translate}}</button>
                            </ion-col>
                          </ion-row>

                </form>

        </div>
    </div>

</ion-content>

<ion-footer class="con-button" *ngIf="choix=='concours'">
    <button ion-button color="white" [disabled]="concours&&concours.active==0||!concours"   clear (click)="takeConcours()" full text-uppercase>
        {{ 'CONCOURS_PARTICIPATE' | translate }}
    </button>
</ion-footer>