page-welcome {

  //Design adapte au phone

  .side-back{
    background: gray;
    background: -webkit-linear-gradient(to bottom,#eff3f7 0%,#eff3f7 50%,#eff3f7 50%,white 50%,white 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom,#eff3f7 0%,#eff3f7 50%,#eff3f7 50%,white 50%,white 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom,#eff3f7 0%,#eff3f7 50%,#eff3f7 50%,white 50%,white 100%);/* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #eff3f7 0%,#eff3f7 50%,#eff3f7 50%,white 50%,white 100%); /* Standard syntax */
  }


  .logo{
    width: 75px;
    height: 75px;
    display: block;
    margin: auto;

  }

  .bar-buton.list.list-md,.bar-buton.list.list-ios{
    margin-top: 40px;
  }

  .bar-message.list.list-md,.bar-message.list.list-ios{
    margin-top: 30%;
  }

  .bar-message p{
    text-align: center;
    color: #000000;
    opacity: 0.4;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .bar-message img{
    height:100px;
    width:  200px;
    display: block;
    margin: auto;
  }

  .toolbar-md-light-blue .toolbar-title-md,.toolbar-ios-light-blue .toolbar-title-ios {
    color: #488aff;
  }

  .back-button-icon-md,.back-button-icon-ios{
    color:#488aff;
    padding: 0;
  }

  .segment-md-dark .segment-button:first-child,.segment-ios-dark .segment-button:first-child {
    font-weight: bold;
    color: #091233;
    background-color:  #ef9347;
  }

  .segment-md-dark .segment-button:last-child,.segment-ios-dark .segment-button:last-child {
    font-weight: bold;
    color: #ef9347;
    background-color: #091233;
  }

  .segment-md-dark .segment-button.segment-activated:first-child,.segment-ios-dark .segment-button.segment-activated:first-child {
    border-color:#ef9347;
  }

  .segment-md-dark .segment-button.segment-activated:last-child,.segment-ios-dark .segment-button.segment-activated:last-child {
    border-color:#091233;
  }


  .title-toolbar{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
  }

  .toolbar-background {
    background:#0e86ef;
    background: linear-gradient(to top right, #0e86ef,#f4ffff);
  }

  //Design adapte au tablette
  @media screen and (min-width:600px){

    .logo {
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }

    .bar-message.list.list-md, .bar-message.list.list-ios{
      margin-top: 20%;
    }

    .bar-buton.list.list-md,.bar-buton.list.list-ios{
      margin-top: 150px;
      margin-left: 40px;
      margin-right: 40px;
    }

    .bar-message p{
      text-align: center;
      color: #000000;
      opacity: 0.4;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 60px;
    }

    .bar-message img{
      height:200px;
      width:  300px;
      display: block;
      margin: auto;
    }
  }

}
