<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar  color="light-blue">
    <ion-title></ion-title>
  </ion-navbar>

  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
  </ion-toolbar>

</ion-header>


<ion-content padding class="side-back">

  <ion-list class="bar-buton" padding  no-lines>
    <ion-segment [(ngModel)]="choix"  color="dark">
      <ion-segment-button value="Connexion" (ionSelect)="navigate('Connexion')">
        {{'BUTTON_CONNEXION' | translate}}
      </ion-segment-button>
      <ion-segment-button value="Inscription"  (ionSelect)="navigate('Inscription')">
        {{'BUTTON_INSCRIPTION' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-list>

  <ion-list class="bar-message">
    <p>{{'MESSAGE_APPRENTISAGE' | translate}}</p>
    <img src="{{illustration}}">
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="title-toolbar">{{'MESSAGE_WELCOME' | translate}}</ion-title>
  </ion-toolbar>
</ion-footer>
