<!--
  Generated template for the ForgotPassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="light-blue">
    <ion-title color="primary" >{{ hasCode===false ? ('TITLE_GET_CODE'| translate) : ('TITLE_GET_FORGOT' | translate)}}</ion-title>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
  </ion-toolbar>
</ion-header>




<ion-content padding>

  <ion-list *ngIf="!hasCode">
    <ion-item text-wrap>
      <p class="description">{{ 'DESCRIPTION_CODE' | translate }}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="hasCode">
    <ion-item text-wrap>
      <p  class="description">{{'DESCRIPTION_HAS_CODE' | translate }}</p>
    </ion-item>
  </ion-list>

  <ion-list padding  no-lines *ngIf="!hasCode">

    <ion-segment [(ngModel)]="choix" color="dark">
      <ion-segment-button value="sms" (ionSelect)="getMode('sms')">
        {{'BY_SMS' | translate}}
      </ion-segment-button>
      <ion-segment-button value="email"  (ionSelect)="getMode('email')">
        {{'BY_EMAIL' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-list>


  <form [formGroup]="forgotPassForm">

    <ion-list padding >

      <ion-item item-left *ngIf="mode[0].choix&&!hasCode">
        <ion-input type="tel"  formControlName="phone" placeholder="{{ 'PHONE' | translate }}"></ion-input>
      </ion-item>

      <ion-item item-left *ngIf="mode[1].choix&&!hasCode">
        <ion-input type="email"  formControlName="email" placeholder="{{ 'EMAIL' | translate }}"></ion-input>
      </ion-item>

      <ion-item  item-left *ngIf="hasCode">
        <ion-input type="text"   formControlName="code" placeholder="{{ 'CODE' | translate }}"></ion-input>
      </ion-item>

      <ion-item *ngIf="hasCode">
        <ion-input type="{{ !isActive ? 'password' : 'text' }}" formControlName="password" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
        <button *ngIf="forgotPassForm.value.password" ion-button clear color="dark" type="button" item-right (click)="showPass()"> <ion-icon ios="ios-eye" md="md-eye"> </ion-icon> </button>
      </ion-item>
    </ion-list>

    <ion-list padding no-lines *ngIf="!hasCode">
      <ion-item>
        <button  color="oranged" (click)="getCode(forgotPassForm.value)" [disabled]="forgotPassForm.invalid&&(!forgotPassForm.value.email&&!forgotPassForm.value.phone)" ion-button full>{{'BUTTON_SEND' | translate}}</button>
      </ion-item>
    </ion-list>

    <ion-list  no-lines *ngIf="hasCode">
      <ion-item>
        <button  color="oranged" (click)="reset(forgotPassForm.value)" [disabled]="forgotPassForm.invalid&&(!forgotPassForm.value.email&&!forgotPassForm.value.phone)&&!forgotPassForm.value.code&&!forgotPassForm.value.password" ion-button full>{{'ENTER' | translate}}</button>
      </ion-item>
    </ion-list>

    <ion-list  no-lines *ngIf="hasCode">
      <ion-item>
        <p class="description" >{{ 'NEW_CODE' | translate }} <a (click)="getCode(forgotPassForm.value)">{{ 'RETRY' | translate }}</a></p>
      </ion-item>
    </ion-list>

  </form>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title class="title-toolbar">{{'MESSAGE_BIENVENUE' | translate }}</ion-title>
  </ion-toolbar>
</ion-footer>
