page-forgot-pass {

  .logo{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
  }

  .description{
      color: #000000;
      text-align: center;
  }

  a{
    text-decoration: underline;
    color: black;
  }

  .button-md{
    box-shadow: none;
  }


  .list-md .item-input:last-child:not(:first-child) {
    border-bottom: 0;
  }

  .list-md .item-input{
    border: solid 1px #f4ffff;
  }


  .toolbar-title-md,.toolbar-title-ios{
      padding: 0;
      font-size: 12px;
  }

  .toolbar-md-light-blue .toolbar-title-md,.toolbar-ios-light-blue .toolbar-title-ios {
      color: #488aff;
  }

  .back-button-icon-md,.back-button-icon-ios{
    color:#488aff;
    padding: 0;
  }

  .segment-md-dark .segment-button,.segment-ios-dark .segment-button {
    font-weight: bold;
    color: #000000;
    border: solid 1px #ef9347;
  }


  .segment-md-dark .segment-button.activated, .segment-md-dark .segment-button.segment-activated
  ,.segment-ios-dark .segment-button.activated, .segment-ios-dark .segment-button.segment-activated {
    color: #ffffff;
    background-color: #091233;
  }


  .segment-md-dak-blue .segment-button,.segment-ios-dak-blue .segment-button {
    border: solid 1px #091233;
  }


  .segment-md-dak-blue .segment-button.activated, .segment-md-dak-blue .segment-button.segment-activated
  ,.segment-ios-dak-blue .segment-button.activated, .segment-ios-dak-blue .segment-button.segment-activated {
    color: #ffffff;
    background-color: #091233;
  }


  .segment-md .segment-button {
    text-transform: capitalize;
  }

  .toolbar-background {
    background:#0e86ef;
    background: linear-gradient(to top right, #0e86ef,#f4ffff);
  }

  .title-toolbar{
    text-align: center;
    font-weight: bold;
  }

  //Design adapte au tablette
  @media screen and (min-width:600px){

    .logo{
      width: 150px;
      height: 150px;
      display: block;
      margin: auto;
    }
  }
}
