<!--
  Generated template for the LeconsPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="gotoDash()" icon-only ion-button>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <div class="slogan-page">
      <p><span class="label-moo">Moo</span> <span class="label-titre" text-capitalize>{{ 'SUMMARY' | translate }}</span></p>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="getLessons($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-row class="course-header" nowrap>
    <ion-col col-12  text-center>
        <h2 text-capitalize>{{course.NOM_MATIERE}}</h2>
    </ion-col>
  </ion-row>
  <ion-row nowrap>
    <ion-col col-6 col-md-9><span>{{'NUMBER_OF_LESSON'|translate}} : {{ lessons.length }} </span></ion-col>
    <ion-col col-6 col-md-3 *ngIf="nbreQuestion"><span>{{'CHALLENGE_QUESTION'|translate}} :{{ nbreQuestion }}</span></ion-col>
  </ion-row>
  <hr>
  <ion-grid class="course-list" no-lines *ngIf="lessons.length>0">
    <ion-row class="course-content"  *ngFor="let lecon of lessons;let i=index" (click)="openResume(course,lecon)" nowrap>
      <ion-col col-2 col-md-1>
          <h4>Chap</h4>
          <hr>
          <p text-center>{{(i+1)>9?(i+1):'0'+(i+1)}}</p>
      </ion-col>

      <ion-col col-10 col-md-11>
        <h3>{{lecon.NOM_RUBRIQUE}}</h3>
        <p class="resume" *ngIf="lecon.resume_doc" text-wrap text-left [innerHTML]="limitChaine(lecon.resume_doc)"></p>
        <p *ngIf="!lecon.resume_doc">{{ 'NO_SUMMARY_MESSAGE'|translate }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list  *ngIf="serveurReponse&&lessons.length==0" padding>
    <ion-item text-wrap>
      <p text-justify> {{ 'MESSAGE_EMPTY_LIST_LESSONS' | translate }} </p>
    </ion-item>
  </ion-list>

</ion-content>
