page-lecons {


  .logo{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
  }


  .slogan-page p{
    text-align: center;
    margin-top: 1px;
    margin-bottom: 2px;
  }

  .label-moo{
    color: #091233;
    font-weight: bold;
  }

  .resume{
    font-size: 16px;
    text-decoration: none;

      h1,h2,h3,h4,h5,h6{
        text-decoration: none;
        text-transform: lowercase;
      }
  }


  .label-titre{
    color: #ef9347;
    font-weight: bold;
  }


  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .course-header{
    .col h2{
      color: #0e86ef;
    }

    .col span{
      color: #808080;
    }
  }

  .course-content{

    margin: 5px;

    .col{

      &:first-child{

        border: 1px solid #091233;
        height: 90px;
        h4{
          color: #091233;
          font-size: 12px;
          font-weight: 400;
          text-align: center;
        }

        hr{
          border-bottom: 1px solid #091233;
        }

        p{
          color: #091233;
          font-size: 15px;
          font-weight: bold;
          margin: 2px;
        }

      }

      &:last-child{

        margin-left: 5px;

        h3{
          color: #091233;
          font-weight: bold;
          font-size: 16px;
          margin-top: 0;
        }

        p{

        }

      }
    }
  }

  hr{
    border-bottom: 1px solid #ef9347;
  }

  //Design adapte au tablette
  @media screen and (min-width:600px){

    .logo{
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }

  }

}
