<!--
  Generated template for the MyCoursePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only (click)="gotoMyStudents()" ion-button>
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="light-blue">
    <ion-buttons color="oranged" ion-button clear end>
      {{ 'LIST_COURSES' |translate }}
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="getUserMatieres($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list  *ngIf="serveurReponse&&courses&&courses.length==0" >
    <ion-item class="description" text-wrap>
      <p> {{ 'DESCRIPTION_COURSES' | translate }} </p>
    </ion-item>
  </ion-list>

  <hr *ngIf="serveurReponse&&courses&&courses.length==0">
  <ion-grid>
    <ion-row class="course" [ngStyle]="{'background-color':backgroundColors[courses.indexOf(course)%4]}" *ngFor="let course  of courses" nowrap>
      <ion-col col-2 col-md-1 *ngIf="course">{{course.NOM_MATIERE.substring(0,2).toUpperCase()}}</ion-col>
      <ion-col col-8 col-md-10  *ngIf="course">
        <p>{{course.NOM_MATIERE.toUpperCase()}}</p>
      </ion-col>
      <ion-col col-2 col-md-1>
        <button ion-button icon-only color="dark" clear (click)="deleteCourse(course)" item-end>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="add-box">
    <div class="boder-fill">
      <ion-icon name="document"></ion-icon>
      <button ion-button full clear color="oranged" (click)="addCourse()">{{ 'ADD_COURSE' | translate }}</button>
    </div>
  </div>

</ion-content>
