page-my-course {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  hr{
    border-bottom: 1px solid #ef9347;
  }

  .bar-button-md{
    text-transform: none;
  }

  .course{
    height: 50px;
    margin: 5px;
  }

  .course {
    .col{
      &:first-child{
        background-color: #488aff;
        text-align: center;
        color: #fff;
        padding-top: 15px;
        text-transform: uppercase;
        font-weight: bold;
      }

    }
  }

  .add-box{
    border: 1px solid #0e86ef;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top:   10px;
  }

  .boder-fill{
    border: 1px dashed #808080;
    height: 65px;
    margin: 2px;
    padding: 5px;
  }

  .boder-fill .icon{
    height: 20px;
    width: 20px;
    font-size: 24px;
    display: block;
    color: #0e86ef;
    margin: auto;
  }

  .boder-fill button{
    text-transform: none;
  }

}
