<!--
  Generated template for the ManageAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only (click)="goProfile()" ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <p class="sub-title"><span>{{ 'MANAGE' | translate }} </span> <span> {{ 'ACCOUNTS' | translate }} </span></p>
  </ion-toolbar>

</ion-header>


<ion-content padding >

  <ion-refresher (ionRefresh)="getUserChild($event,true);">
    <ion-refresher-content
            pullingText="Pull to refresh"
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="..fetching">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-item *ngIf="serveurReponse&&userData.length===0" class="description" text-wrap>
       <p> {{ 'DESCRIPTION_ACCOUNT' | translate }} </p>
  </ion-item>

  <ion-grid>
    <ion-row *ngFor="let student of userData">
      <ion-col class="image-profil" col-3>
          <img  src="{{student.image_data ? student.image_data : 'assets/img/emoji.png' }}">
      </ion-col>
      <ion-col col-6 class="account-item" >
        <h2 *ngIf="userData">{{student.username.toUpperCase()}}</h2>
        <h3 *ngIf="userClasse&&userClasse[student.id]">{{userClasse[student.id].NOM_CLASSE}} <span *ngIf="userClasse[student.id].OPTION_CLASSE">{{userClasse[student.id].OPTION_CLASSE}}</span></h3>
        <p  *ngIf="userSchool&&userSchool[student.id]">{{userSchool[student.id].school}}</p>
      </ion-col>
      <ion-col col-3>
        <button color="primary" ion-button clear (click)="userStats(student,userSchool[student.id])">{{ 'RESULT' | translate }}</button>
        <button  color="primary" ion-button clear (click)="moreInfos(student,userClasse[student.id],userSchool[student.id])" >{{ 'MORE' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div *ngIf="serveurReponse&&userData.length===0" padding class="error-box">
      <img src="assets/img/wanda.png">
    <p text-wrap>{{ 'DESCRIPTION_EMPTY' | translate }}</p>

  </div>

  <div class="add-box">

    <div class="boder-fill">
            <img src="assets/img/add-person.png">
          <button ion-button full clear color="oranged" (click)="addStudent()">{{ 'ADDED_STUDENT' | translate }}</button>
    </div>

  </div>

</ion-content>
