page-answers {

  /* Design du telephone */

  .logo{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
  }


  .slogan-page p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
  }

  .label-moo{
    color: #091233;
    font-weight: bold;
  }

  .label-titre{
    color: #ef9347;
    font-weight: bold;
  }

  hr{
    border-top: 0.3px solid  #ef9347;
  }

  .grid-bac{
    background-color: #ffffff;
  }


  .card {
    box-shadow: none;
    border: 1px solid #f4f4f4;
  }


  .card-md h3{
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    text-align: left;
  }


  .card-md img{
    display: block;
    margin: auto;
    height: 40px;
    width: 40px;
  }

  ion-card-content{
    height: 90px;
  }


  .fisrt-card  ion-card-header{
    background-color: #ef9347;
    border: 1px solid #ef9347;
  }

  .fisrt-card  p {
    font-size: x-large;
    font-weight: bold;
    color: #ef9347;
    text-align: center;
    padding-top: 30px;

  }


  .second-card ion-card-header{
    background-color: #091233;
    border: 1px solid #091233;
  }

  .second-card  p {
    font-size: x-large;
    font-weight: bold;
    color: #091233;
    text-align: center;
    padding-top: 30px;

  }

  .third-card ion-card-header{
    background-color: #f53d3d;
    border: 1px solid #f53d3d;
  }

  .third-card  p {
    font-size: x-large;
    font-weight: bold;
    color: #f53d3d;
    text-align: center;
  }

  .fourth-card ion-card-header{
    background-color: #6cebfc;
    border: 1px solid #6cebfc;
  }

  .fourth-card  p {
    font-size: x-large;
    font-weight: bold;
    color: #6cebfc;
    text-align: center;
  }


  .segment-md-dark .segment-button,.segment-ios-dark .segment-button {
    font-weight: bold;
    color: #000000;
    border: solid 1px #ef9347;
  }

  .segment-md-dark .segment-button.activated, .segment-md-dark .segment-button.segment-activated
  ,.segment-ios-dark .segment-button.activated, .segment-ios-dark .segment-button.segment-activated {
    color: #ef9347;
    background-color: #091233;
  }

  .segment-md-dak-blue .segment-button,.segment-ios-dak-blue .segment-button {
    border: solid 1px #091233;
  }

  .segment-md-dak-blue .segment-button.activated, .segment-md-dak-blue .segment-button.segment-activated
  ,.segment-ios-dak-blue .segment-button.activated, .segment-ios-dak-blue .segment-button.segment-activated {
    color: #ffffff;
    background-color: #091233;
  }

  .segment-md .segment-button {
    text-transform: capitalize;
  }

  ion-segment {
    margin-left: 15px;
  }


  .question .col:first-child{
    background-color: #091233;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    height: 50px;
    padding-top: 10px;
  }

  .answer{
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
  }

  .answer .col:first-child{
    background-color: #0d0c0c;
    color: white;
    text-align: center;
    height: 30px;
    font-weight: 500;
    font-size: small;

  }

  ion-icon .icon:before{
    color: #091233;
    font-size: small;
  }

  /* Design de la tablette */

  @media screen and (min-width: 600px){

    .logo{
      width: 150px;
      height: 150px;
      display: block;
      margin: auto;
    }

  }


}
