<!--
  Generated template for the ResultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only ion-button (click)="gotoProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{picture_logo}}">
    <div class="slogan-page">
      <p><span class="label-titre">{{ 'RESULT_TEXTE_5' | translate }}</span></p>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="choix">
    <div *ngSwitchCase="'recapitulatif'">

      <ion-grid class="grid-bac">

        <ion-row>
          <ion-col col-12>
            <p>{{ 'TUTORIAL_SLIDE4_DESCRIPTION' | translate }}</p>
            <hr>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <ion-card class="fisrt-card">
              <ion-card-header >
                <h3>{{'RESULT_TEXTE_1' | translate}}</h3>
              </ion-card-header>
              <ion-card-content >
                <p>{{resultats.nbreQuestion}}/{{resultats.nbreQuestion}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card class="second-card">
              <ion-card-header>
                <h3>{{'RESULT_TEXTE_2' | translate}}</h3>
              </ion-card-header>
              <ion-card-content >
                <p>{{resultats.nbrePoints}}/{{resultats.nbreQuestion*5}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <ion-card class="third-card">
              <ion-card-header>
                <h3>{{'RESULT_TEXTE_3' | translate}}</h3>
              </ion-card-header>
              <ion-card-content padding>
                <img src="assets/img/sad_sm.png">
                <p>{{resultats.mauvaise_reponse}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card class="fourth-card">
              <ion-card-header>
                <h3>{{'RESULT_TEXTE_4' | translate}}</h3>
              </ion-card-header>
              <ion-card-content padding>
                <img src="assets/img/happy_sm.png">
                <p>{{resultats.bonne_reponse}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div  *ngSwitchCase="'resultat'">

      <ion-list>
        <ion-item *ngFor="let result of questions">
          <ion-row class="question">
            <ion-col col-2>
              Q{{questions.indexOf(result)+1}}
            </ion-col>
            <ion-col col-9>
              <p  text-justify text-wrap [innerHTML]="format(result.intitule)"></p>
            </ion-col>
            <ion-col col-1>
              <ion-icon *ngIf="hideShowAnswers" name="{{ hideShowAnswers[questions.indexOf(result)] ? 'ios-arrow-down': 'ios-arrow-up' }}" item-end (click)="hideShowAnswer(questions.indexOf(result))"></ion-icon>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
             <ion-col offset-11 col-1>
               <ion-icon *ngIf="hideShowAnswers" name="{{ hideShowAnswers[questions.indexOf(result)] ? 'ios-arrow-down': 'ios-arrow-up' }}" item-end (click)="hideShowAnswer(questions.indexOf(result))"></ion-icon>
             </ion-col>
           </ion-row>-->
          <ion-row *ngIf="result&&result.images&&result.images.length>0">
            <ion-col col-12 *ngFor="let image of result.images">
              <img src="{{url}}{{image.url}}">
            </ion-col>
          </ion-row>
          <ion-row class="answer" *ngIf="hideShowAnswers[questions.indexOf(result)]">
            <ion-col col-1>
              R
            </ion-col>
            <ion-col col-11>
              <p text-justify text-wrap *ngIf="result.bonne_reponse.INTITULE_POSSIBILITE" [innerHTML]="format(result.bonne_reponse.INTITULE_POSSIBILITE)"></p>
              <img *ngIf="result.bonne_reponse.image" src="{{url}}{{result.bonne_reponse.image}}">
            </ion-col>
          </ion-row>
          <ion-row class="answer"  *ngIf="hideShowAnswers[questions.indexOf(result)]">
            <ion-col col-1>
              E
            </ion-col>
            <ion-col col-11>
              <p text-justify text-wrap *ngIf="result.commentaire_reponse" [innerHTML]="format(result.commentaire_reponse)"></p>
              <img *ngIf="result.image_commentaire" src="{{url}}{{result.image_commentaire}}">
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <hr>

  <ion-list padding  no-lines>
    <ion-segment [(ngModel)]="choix" color="dark">
      <ion-segment-button value="recapitulatif" (ionSelect)="GotoRecap('recapitulatif')">
        {{'RESULT_TEXTE_5' | translate}}
      </ion-segment-button>
      <ion-segment-button value="resultat"  (ionSelect)="GotoResult('resultat')">
        {{'RESULT' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-list>

</ion-content>
