page-param-exam {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }


  .course{
    height: 50px;
    margin: 5px;
  }


  .course {
    .col{
      &:first-child{
        background-color: #488aff;
        text-align: center;
        color: #fff;
        padding-top: 15px;
        text-transform: uppercase;
        font-weight: bold;
      }

    }
  }


  .logo{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
  }


  .button-md{
    box-shadow: none;
  }

  .fab{
    border-radius: 0;
  }

  .box-setting{
    background-color: #ffffff;
  }

  .slogan-page p{
    text-align: center;
    margin-top: 1px;
    margin-bottom: 2px;
  }

  .label-moo{
    color: #091233;
    font-weight: bold;
  }

  .label-titre{
    color: #ef9347;
    font-weight: bold;
  }


  //Design adapte au tablette
  @media screen and (min-width:600px) {

    .logo {
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }


  }



}
