<!--
  Generated template for the InviteUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button *ngIf="currentUser&&currentUser.role_id==6" color="oranged" icon-only (click)="addUser()" ion-button>
        <ion-icon name="add"></ion-icon>
      </button>
      <button *ngIf="currentUser&&(currentUser.role_id==4||currentUser.role_id==5)" color="oranged" icon-only (click)="gotoProfile()" ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <p class="sub-title"><span>Gestion de </span> <span> Comptes </span></p>
  </ion-toolbar>

</ion-header>


<ion-content padding>



  <ion-searchbar [type]="text" [showCancelButton]="shouldShowCancel"  [(ngModel)]="pattern" (ionClear)="onClear($event)" (ionInput)="onInput($event)"   (ionCancel)="onCancel($event)">
  </ion-searchbar>



  <div class="user-message" *ngIf="serverAnswer&&students.length==0">
    <p text-wrap>{{ 'PATTERN_ERROR' | translate }}</p>
  </div>

  <div class="user-message" *ngIf="!serverAnswer&&students.length==0&&serveurReponse">
    <p text-wrap>{{ 'USERS_SEARCH_MESSAGE' | translate }}</p>
  </div>

  <ion-list [ngClass]="{'user-list':!showProfil,'no-user':students.length==0}"  *ngIf="!showProfil" no-lines>
      <ion-item [ngClass]="{'no-user':!student.username}"  *ngFor="let student of students"  text-wrap (click)="invite(student,classes[student.id],usersSchool[student.id])" >
        <p *ngIf="student&&student.username" [innerHTML]="match(pattern,student.username)"></p>
      </ion-item>
  </ion-list>

  <hr>

  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-card *ngIf="showProfil">

    <ion-row>
      <ion-col col-4>
        <ion-thumbnail>
          <img src="{{studentSelect.image_data ? studentSelect.image_data : 'assets/img/emoji.png' }}">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-8>

        <ion-list class="detail-profil" *ngIf="studentSelect" no-lines>

          <ion-item  text-wrap *ngIf="studentSelect.nom">
            <h3>{{ 'NAME' | translate }} </h3>
            <p >{{studentSelect.nom}}</p>

          </ion-item>
          <ion-item text-wrap *ngIf="studentSelect.prenom">
            <h3>{{ 'SURNAME' | translate }} </h3>
            <p >{{studentSelect.prenom}}</p>
          </ion-item>
          <ion-item text-wrap *ngIf="studentSelect.username">
            <h3>{{ 'USERNAME' | translate }} </h3>
            <p >{{studentSelect.username}}</p>
          </ion-item>
          <ion-item text-wrap  *ngIf="studentSelect.tel">
            <h3>{{ 'PHONE' | translate }} </h3>
            <p>{{studentSelect.tel}}</p>
          </ion-item >
          <ion-item  text-wrap  *ngIf="classeSelect&&classeSelect.NOM_CLASSE">
            <h3 >{{ 'CLASS' | translate }} </h3>
            <p>{{classeSelect.NOM_CLASSE}} <span *ngIf="classeSelect.OPTION_CLASSE!='NONE'"> {{classeSelect.OPTION_CLASSE}}</span></p>
          </ion-item>
          <ion-item  text-wrap  *ngIf="usersSchool&&usersSchool.school">
            <h3 >{{ 'SCHOOL' | translate }} </h3>
            <p>{{usersSchool.school}} </p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>

<ion-footer  no-border>
  <button [disabled]="!showProfil" color="oranged" ion-button full ion-button (click)="addStudent(studentSelect)">
    <ion-icon name="person-add" item-start=""></ion-icon>
    {{ 'SAVE' | translate }}
  </button>
</ion-footer>
