page-invite-user {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-style: none;
  }

  .user-message{
    border-style: none;
    color: #000000;
    opacity: 0.6;
    text-align: justify;
  }

  .sub-title{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: -4px;
  }

  .logo{
    width:50px;
    height: 50px;
    display: block;
    margin: auto;
  }

  .sub-title span:first-child{
    color:#091233;
  }

  .sub-title span:last-child{
    color:#ef9347;
  }

  .button{
    color: #091233;
  }

  .icon:before{
    margin-right: 5px;
  }

  .card{
    box-shadow: none;
  }

  ion-searchbar{
    border : 1px solid #091233;
    height: 50px;
  }

  .searchbar-md .searchbar-input{
    box-shadow: none;
  }

  .user-list{
    border : 1px solid #091233;
  }

  .no-user{
    display: none;
  }

  hr{
    border-bottom: 1px solid #ef9347;
  }



  .searchbar-md .searchbar-search-icon{
    left: calc(100% - 60px);
    background-color: #091233;
    background-position: center;
    height: 50px;
    top: -5px;
    width: 70px;
    color: #ef9347;
    text-align: center;

  }


  .detail-profil p{
    color: #aab7c4;
    font-weight: bold;
  }

  .detail-profil p:first-letter{
    text-transform: capitalize;
  }

  .modal-message{
    z-index: 1001;
    background-color: black;
    opacity: 0.4;
  }



  //Design adapte au tablette
  @media screen and (min-width:600px){

    .logo{

      width: 100px;
      height: 100px;
      display: block;
      margin: auto;

    }

  }

}
