<!--
  Generated template for the AddPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="modal-background">


    <div class="container">

        <form [formGroup]="postForm" novalidate>

            <p class="text-icon">
                <ion-icon name="create"></ion-icon>
            </p>

            <ion-grid>
                <ion-row class="post">
                    <ion-item text-wrap>
                        <ion-textarea #message (keyup)="resize()" (change)="resize()"  max="1000" rows="1" formControlName="summary" placeholder="{{ 'FORUM_PLACEHOLDER_TEXTAREA' | translate }}">
                        </ion-textarea>
                    </ion-item>
                    <ion-item (click)="getPostPicture()">
                        <ion-thumbnail *ngIf="postForm.value.image">
                            <img src="{{postForm.value.image}}">
                        </ion-thumbnail>
                        <ion-icon item-end  name="camera"></ion-icon>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-col col-10>
                        <span *ngIf="!testRadioResult">{{ 'FORUM_SELECT_TEXT' | translate  }}</span>
                        <span *ngIf="testRadioResult">{{testRadioResult}}</span>
                    </ion-col>
                    <ion-col col-2 (click)="selectCourse($event)">
                        <ion-icon name="ios-arrow-down"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <button ion-button small color="dak-blue" [disabled]="postForm.invalid" (click)="addaPost(postForm.value)" >{{ 'FORUM_SUBMIT_BUTTON' | translate  }}</button>

        </form>
    </div>

    <div class="button-image"  >

        <button ion-button color="dark-red" clear icon-only  (click)="close()">
            <ion-icon name="close"></ion-icon>
        </button>
    </div>

</ion-content>

