page-add-post {


  .modal-background{
    background-color: rgba(0, 0, 100, 0.5);
  }

 .container{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    background:#488aff;
    background: linear-gradient(to top right, #488aff,#f4ffff);;
    padding-right:5px;
    padding-left: 5px;
    padding-top: 5px;

  }

  .item.item-textarea{
    min-height: 40px;
    background-color:#f4f4f4 ;
  }

  .item{
    background-color:#f4f4f4 ;
  }

  .icon.ion-md-create:before{
    color: #ffffff;
    font-size: 40px;
  }

  .text-icon{
    text-align: center;
  }

  .container .button{
    display:block ;
    margin: auto;
    box-shadow: none;
    width: 100px;
    border-radius: 0;
    text-transform: capitalize;
    font-weight: bold;
  }

  .row:last-child .col:first-child{
    background: #f4f4f4;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #091233;
    padding: auto;
  }

  .row:last-child .col:last-child{
    background: #091233;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
  }

  .button-image{
    background-color: white;
    opacity: 0.4;
    text-align: center;
    width: 50px;
    height: 50px;
    display: block;
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
  }


  .post .item-md.item-block .item-inner {
    border-bottom:0;
  }



  //Design adapte au tablette
  @media screen and (min-width:600px){

  }

}
