<!--
  Generated template for the AddUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dak-blue">
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" icon-only (click)="openDash()"  ion-button>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <p class="sub-title"><span>Gestion de </span> <span> Comptes </span></p>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div>
    <p text-wrap text-justify>{{ 'USERS_CREATION_MESSAGE' | translate }}</p>
  </div>

  <hr>

  <form [formGroup]="userForm" novalidate>

    <ion-list class="inscription" padding>

      <!--Segment class -->
      <ion-grid class="button-group">
        <ion-row>
          <ion-col col-4>
            <button ion-button block outline color="bleu-gradient"> {{'CLASS' | translate }}</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block color="bleu-gradient">{{classe}}</button>
          </ion-col>
          <ion-col col-2>
            <button ion-button block color="dak-blue" (click)="selectClass()">
              <ion-icon name="arrow-dropdown" item-end></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>


      <div *ngIf="clas.invalid && (clas.dirty || clas.touched)" class="alert-error">
        <div *ngIf="clas.errors.required">
          {{'CLASS' | translate}}  {{'FIELDS_REQUIRED' | translate}}
        </div>
      </div>


      <!--Segment annee-->

      <ion-item>
        <ion-label color="dark" stacked>{{'YEAR' | translate }}</ion-label>
      </ion-item>

      <ion-segment formControlName="annee" color="dak-blue">

        <ion-segment-button value="{{annees[0]}}">
          {{annees[0]}}
        </ion-segment-button>

        <ion-segment-button value="{{annees[1]}}">
          {{annees[1]}}
        </ion-segment-button>

      </ion-segment>

      <div *ngIf="annee.invalid && (annee.dirty || annee.touched)" class="alert-error">
        <div *ngIf="annee.errors.required">
          {{'YEAR' | translate}}  {{'FIELDS_REQUIRED' | translate}}
        </div>
      </div>


      <!--Input form -->

      <ion-item>
        <ion-label color="dark" stacked>{{'NAME' | translate}}</ion-label>
        <ion-input type="text"  formControlName="nom" placeholder="{{'PLACEHOLDER_NAME' | translate}}"></ion-input>
      </ion-item>

      <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert-error">
        <div *ngIf="nom.errors.required">
          {{'NAME' | translate}}  {{'FIELDS_REQUIRED' | translate}}
        </div>
        <div *ngIf="nom.errors.minlength">
          {{'NAME' | translate}}  {{'FIELDS_MINLENGTH' | translate}}
        </div>
        <div *ngIf="nom.errors.maxlength">
          {{'NAME' | translate}}  {{'FIELDS_MAXLENGTH' | translate}}
        </div>
      </div>

      <ion-item>
        <ion-label color="dark" stacked>{{'SURNAME' | translate}}</ion-label>
        <ion-input type="text"  formControlName="prenom" placeholder="{{'PLACEHOLDER_SURNAME' | translate}}"></ion-input>
      </ion-item>

      <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert-error">
        <div *ngIf="prenom.errors.required">
          {{'SURNAME' | translate}}  {{'FIELDS_REQUIRED' | translate}}
        </div>
        <div *ngIf="prenom.errors.minlength">
          {{'SURNAME' | translate}}  {{'FIELDS_MINLENGTH' | translate}}
        </div>
        <div *ngIf="prenom.errors.maxlength">
          {{'SURNAME' | translate}}  {{'FIELDS_MAXLENGTH' | translate}}
        </div>
      </div>

      <ion-item>
        <ion-label color="dark" stacked>{{'PHONE' | translate}}</ion-label>
        <ion-input type="text" formControlName="tel" placeholder="{{'PLACEHOLDER_PHONE' | translate}}"></ion-input>
      </ion-item>

      <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="alert-error">
        <div *ngIf="tel.errors.required">
          {{'PHONE' | translate}}  {{'FIELDS_REQUIRED' | translate}}
        </div>

        <div *ngIf="tel.errors.pattern">
          {{'PHONE' | translate}}  {{'FIELDS_PATTERN' | translate}}
        </div>
      </div>

      <ion-item>
        <ion-label color="dark" stacked>{{'EMAIL' | translate}}</ion-label>
        <ion-input type="email"  formControlName="email" placeholder="{{'PLACEHOLDER_EMAIL' | translate}}"></ion-input>
      </ion-item>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-error">
        <div *ngIf="email.errors.required">
          {{'EMAIL' | translate}}  {{'FIELDS_REQUIRED' | translate}}
        </div>
        <div *ngIf="email.errors.pattern">
          {{'EMAIL' | translate}}  {{'FIELDS_PATTERN' | translate}}
        </div>
      </div>

      <ion-item>
        <ion-label color="dark" stacked>{{'USERNAME' | translate}}</ion-label>
        <ion-input type="text"  formControlName="username" placeholder="{{'PLACEHOLDER_USERNAME' | translate}}"></ion-input>
      </ion-item>

      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert-error">
        <div *ngIf="username.errors.required">
          {{'USERNAME' | translate}}  {{'FIELDS_REQUIRED' | translate}}
        </div>
        <div *ngIf="username.errors.minlength">
          {{'USERNAME' | translate}}  {{'FIELDS_MINLENGTH' | translate}}
        </div>
        <div *ngIf="username.errors.maxlength">
          {{'USERNAME' | translate}}  {{'FIELDS_MAXLENGTH' | translate}}
        </div>
      </div>

      <ion-item>
        <ion-label color="dark" stacked>{{'PASSWORD' | translate}}</ion-label>
        <ion-input type="{{ !isActive ? 'password' : 'text' }}" formControlName="password" placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}"></ion-input>
        <button *ngIf="userForm.value.password" ion-button clear color="dark" type="button" item-right (click)="showPass()"> <ion-icon ios="ios-eye" md="md-eye"> </ion-icon> </button>
      </ion-item>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-error">
        <div *ngIf="password.errors.required">
          {{'PASSWORD' | translate}}  {{'FIELDS_REQUIRED' | translate}}
        </div>
        <div *ngIf="password.errors.minlength">
          {{'PASSWORD' | translate}}  {{'FIELDS_MINLENGTH' | translate}}
        </div>
        <div *ngIf="password.errors.maxlength">
          {{'PASSWORD' | translate}}  {{'FIELDS_MAXLENGTH' | translate}}
        </div>
      </div>


      <ion-item>
        <button color="dak-blue" [disabled]="userForm.invalid" ion-button full (click)="saveUserData(userForm.value)">{{'SAVE' | translate}}</button>
      </ion-item>

    </ion-list>

  </form>


</ion-content>
