page-add-user {

  .logo{
    width:75px;
    height: 75px;
    display: block;
    margin: auto;
  }

  hr{
    border-bottom: 1px solid #ef9347;
  }

  .button-group.grid{
    margin-left:5px;
  }

  .button-group {

    .col {
      &:first-child:not(:last-child){
        padding-right: 0;
        .button {
          border-radius: 0;
          color: #091233;
          text-transform: capitalize;
          box-shadow: none;
        }
      }
      &:not(:first-child):not(:last-child){
        padding-right: 0;
        padding-left: 0;
        .button {
          border-radius: 0;
          opacity: 0.6;
          box-shadow: none;
        }
      }
      &:last-child:not(:first-child){
        padding-left: 0;
        .button {
          border-radius: 0;
          box-shadow: none;
        }
      }
    }

  }

  .sub-title{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: -4px;
  }

  .sub-title span:first-child{
    color:#091233;
  }

  .sub-title span:last-child{
    color:#ef9347;
  }


  .segment-md-dak-blue .segment-button,.segment-ios-dak-blue .segment-button {
    border: solid 1px #091233;
  }

  .segment-md-dak-blue .segment-button.activated, .segment-md-dak-blue .segment-button.segment-activated
  ,.segment-ios-dak-blue .segment-button.activated, .segment-ios-dak-blue .segment-button.segment-activated {
    color: #ffffff;
    background-color: #091233;
  }

  .segment-md .segment-button {
    text-transform: capitalize;
  }

  ion-segment {
    margin-left: 15px;
  }



  //Design adapte au tablette
  @media screen and (min-width:600px){

    .logo{

      width: 100px;
      height: 100px;
      display: block;
      margin: auto;

    }

  }

}
