<!--
  Generated template for the CourseResumePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="dak-blue">
    <ion-title >{{ 'HOME_OPTION1' | translate }}</ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="gotoDash()" icon-only ion-button>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-buttons color="bleu-gradient" ion-button clear end>
      {{course.NOM_MATIERE}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="course" text-wrap>
    <ion-item class="course-title">
      <h2 text-left>{{lesson.NOM_RUBRIQUE}}</h2>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row nowrap class="barButton">
      <ion-col  (click)="openAudio(lesson.resume_audio)">
        <ion-icon name="volume-down"></ion-icon>
        <span>{{ 'RESUME_AUDIO' | translate }}</span>
      </ion-col>
      <ion-col (click)="openVideo(lesson.resume_video)">
        <ion-icon name="film">
        </ion-icon>
        <span>{{ 'RESUME_VIDEO' | translate}}</span>
      </ion-col>
      <ion-col  (click)="openPdf(lesson.resume_pdf)">
        <ion-icon name="document"></ion-icon>
        <span>{{ 'RESUME_PDF' | translate}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr>

  <ion-list *ngIf="lesson" no-lines>

    <ion-item text-wrap text-justify>
      <p *ngIf="lesson.resume_doc"   [innerHTML]="format(lesson.resume_doc)"></p>
      <p *ngIf="!lesson.resume_doc&&!lesson.resume_image">{{ 'NO_SUMMARY'|translate }}</p>
    </ion-item>

    <ion-item *ngIf="!lesson.resume_doc&&!lesson.resume_image">
      <button ion-button full color="oranged" (click)="answerQuestion(course,lesson)">{{ 'ANSWER_QUESTION' | translate }}</button>
    </ion-item>

    <ion-item *ngIf="lesson.resume_image">
      <img   src="{{url}}{{lesson.resume_image}}">
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer no-border *ngIf="lesson.resume_doc||lesson.resume_image"  class="button-toolbar" (click)="answerQuestion(course,lesson)">
    <p text-center>{{ 'ANSWER_QUESTION' | translate }}</p>
</ion-footer>
