page-course-resume {

  .slogan-page p{
    text-align: center;
    margin-top: 1px;
    margin-bottom: 2px;
  }

  .label-moo{
    color: #091233;
    font-weight: bold;
  }

  .label-titre{
    color: #ef9347;
    font-weight: bold;
  }


  .bar-button-md{
    text-transform: none;
  }

  .button-toolbar{
    background:#0e86ef;
    background: linear-gradient(to top right, #0e86ef,#f4ffff);
    color: #fff;
  }

  .barButton{
    .col{
      background: #0e86ef;
      color: #FFFFFF;
      margin: 2px;

      span{
        font-size: 14px;
        text-transform: capitalize;
      }
    }
  }

  .course-title{

      h2{
        color: #091233;
        font-size: 16px;
      }
  }

  hr{
    border-bottom: 1px solid #ef9347;
  }

}
