<!--
  Generated template for the ParamExamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>MooExams</ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="gotoProfile()" icon-only ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light-blue">
    <img class="logo"  src="{{logo}}">
    <div class="slogan-page">
      <p><span class="label-moo">Moo</span> <span class="label-titre" text-capitalize>{{ 'SUMMARY' | translate }}</span></p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-refresher (ionRefresh)="getAllCourses($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="courses&&courses.matieres&&courses.matieres.length>0">
    <ion-row class="course"  *ngFor="let matiere of courses.matieres;let i=index" [ngStyle]="{'background-color':backgroundColors[i%4]}"  (click)="openSubjects(matiere,courses.lecons[matiere.id])">
      <ion-col col-2 col-md-1>
        {{matiere.NOM_MATIERE.substring(0,2)}}
      </ion-col>
      <ion-col col-10 col-md-11>
        <p>{{matiere.NOM_MATIERE.toUpperCase()}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list  *ngIf="serveurReponse&&(courses.matieres&&courses.matieres.length==0||courses.length==0)" padding-top>
    <ion-item text-wrap>
      <p text-justify> {{ 'MESSAGE_EMPTY_LIST_COURSES' | translate }} </p>
    </ion-item>
  </ion-list>

</ion-content>
