<!--
  Generated template for the ChallengeResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="dak-blue">
    <button ion-button menuToggle color="oranged" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><span class="slogan">MooExams</span><span class="titre">{{ 'CHALLENGES' | translate }}</span></ion-title>
    <ion-buttons end>
      <button color="oranged" (click)="goProfile()" icon-only ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-buttons color="oranged" ion-button clear end>
      {{ 'CHALLENGE_LEADERBORD' |translate }}
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="getResult($event,true)">
    <ion-refresher-content
            pullingText=""
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="...">
    </ion-refresher-content>
  </ion-refresher>


  <div *ngIf="!serveurReponse" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <div class="entete">

    <h1 text-center>{{challenge.titre}}</h1>
    <h3 text-center>{{matiere.NOM_MATIERE}}</h3>

    <ion-row nowrap>
      <ion-col offset-1>{{ 'BEGINING' | translate }} : {{formatDatePoint(challenge.date_debut)}}</ion-col>
      <ion-col offset-1>{{ 'END' | translate }} : {{formatDatePoint(challenge.date_fin)}} </ion-col>
      <ion-col offset-1>{{ 'PARTICIPANTS' | translate }} : {{participants.length||0}}</ion-col>
    </ion-row>

  </div>

  <ion-grid *ngIf="participants&&participants.length>0">
    <ion-row class="item-score" *ngFor="let participant of participants">
      <ion-col col-2 class="numero">
        <span text-center>{{(participants.indexOf(participant)+1)<=9?"0"+(participants.indexOf(participant)+1):(participants.indexOf(participant)+1)}}</span>
      </ion-col>
      <ion-col col-2 class="image">
        <img src="{{getInfos(users[participant.id],participant.participant_id).image_data?getInfos(users[participant.id],participant.participant_id).image_data:'assets/img/emoji.png'}}">
      </ion-col>
        <ion-col col-3 class="info">
          <h4 text-capitalize *ngIf="users[participant.id]">{{getInfos(users[participant.id],participant.participant_id).username}}</h4>
         <!-- <h4 text-capitalize *ngIf="users[participant.id]">{{getInfos(users[participant.id],participant.participant_id).nom}}</h4>
          <h4 text-capitalize *ngIf="users[participant.id]">{{getInfos(users[participant.id],participant.participant_id).prenom}}</h4>-->
          <h5 text-capitalize *ngIf="classes[participant.participant_id]">{{classes[participant.participant_id].NOM_CLASSE}}  <span *ngIf="classes[participant.participant_id].OPTION_CLASSE!='NONE'">{{classes[participant.participant_id].OPTION_CLASSE}}</span></h5>
          <h5 text-capitalize *ngIf="schools[participant.id]">{{getSchool(schools[participant.id],participant.participant_id).school}}</h5>
      </ion-col>
      <ion-col col-5 class="result">
        <h6>{{ 'CHALLENGE_PARTICIPATED_ON' | translate }} : {{formatDateBar(participant.date_participation)}}  </h6>
        <h6>{{ 'CHALLENGE_GOOD_ANSWERS' | translate }} : {{participant.bonne_reponse||0}}</h6>
        <h6>{{ 'CHALLENGE_BAD_ANSWERS' | translate }} : {{participant.mauvaise_reponse||0}}</h6>
        <h6>{{ 'CHALLENGE_WINNING_POINTS' | translate }}: {{participant.nbrePoints||0}}</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="participants&&participants.length==0" padding-top>
    <ion-item text-wrap>
      <p text-center>{{ 'CHALLENGE_PARTICIPANTS_MESSAGE' | translate }}</p>
    </ion-item>
  </ion-list>

</ion-content>
