page-challenge-result {

  .bar-button-md{
    text-transform: none;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  span.slogan{
    font-size: large;
    font-weight: bold;
    font-style: italic;
  }

  span.titre{
    color: #ef9347;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    text-transform: capitalize;
  }


  .grid{
    padding: 0;
  }

  .entete{

    h1{
      font-size: 20px;
      font-weight: bold;
      color: #091233;
    }

    h3{
      font-size: 15px;
      color: #488aff;
      font-weight: 400;
    }

    .row{
      .col{
        font-size: 7px;
        color: #808080;
      }
    }
  }

  .item-score{


    max-height: 90px;

    &:first-child{
      border-top: 1px solid #ef9347;
    }
    &:first-child:not(:last-child){
      border-top: 1px solid #ef9347;
    }

    &:not(:first-child):not(:last-child){
      border-bottom: 1px solid #ef9347;
    }

    &:last-child:not(:first-child){
      border-bottom: 1px solid #ef9347;
    }

    &:last-child{
      border-bottom: 1px solid #ef9347;
    }

    .numero{

      span{
        font-weight: bold;
        font-size: 20px;
        color: #488aff;
        position: relative;
        top: 15px;
        left: 15px;
      }
    }

    .image{
      img{
        max-height: 50px;
        max-width: 50px;
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }

    .info{

      h4{
        color: #000000;
        font-weight: bold;
        font-size: 10px;
        text-align: left;
        margin: 4px;

      }

      h5{
        color: #000000;
        font-weight: 300;
        font-size: 7px;
        text-align: left;
        margin: 4px;
      }

    }

    .result{

      border-left: 1px solid #f4f4f4;
      margin-top: 5px;
      margin-bottom: 5px;
      h6{
        color: #808888;
        font-size: 8px;
        margin: 4px;
        text-align: right;
      }
    }
  }

}
